@charset "utf-8";

/********** Global **********/
/*
 *常用背景色： #0b0f34 (6,64,102) (29,45,57) (7,33,58) (8,13,28) (15,43,36)
 */
html, body {
	width:100%;
	height:100%;
	min-height:635px;
	font-family:"microsoft yahei", arial, sans-serif;
	font-size: 16px !important;
	
background-color:#061422;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 100%;
	overflow-x:hidden;
	overflow-y:auto;
	color:#fff;
}
body.bg01 {background-image:url("../imgs/bg.png");}
body.bg02 {background-image:url("../img/bg02.png");}
body.bg03 {background-image:url("../img/bg03.png");}
body.bg04 {background-image:url("../img/bg04.png");}
.header {
	margin:0 auto;
	width:100%;
	height:111px;
	max-width:1920px;
	background:url("../imgs/title.png") center no-repeat;
}
.header h3 {
	/* font-family:MF LangQian (Noncommercial); */
	margin:0;
	padding:0;
	line-height:79px;
	text-align:center;
	font-size:30px;
	color:#fff;
	font-weight: bold;
}
.wrapper {position:absolute;top:111px;bottom:0;left:0;right:0;min-height:555px;}
.container-fluid {height:100%;min-height:100%;}
.row {margin-left:-7px;margin-right:-8px;}
.row>div {padding-left:7px;padding-right:8px;}
.xpanel-wrapper {box-sizing:border-box;}
.xpanel-wrapper-1 {height:100%;}
.xpanel-wrapper-2 {height:50%;}
.xpanel-wrapper-3 {height:33.33333%;}
.xpanel-wrapper-4 {height:35%;}

.xpanel-wrapper-6 {height:65%;}
.xpanel {
	height:100%;
	min-height:170px;
	box-sizing:border-box;
}
.green-color {
    color: #0afbe2;
}
/* tool */
.fill-h {height:100%;min-height:100%;
}
.box-bg{
	background:url("../imgs/bg_real-timemonitoring.png") center no-repeat;
	background-size: 100% 100%;
}
.no-margin {margin:0 !important;}
.no-padding {padding:0 !important;}

/* scrollbar */
::-webkit-scrollbar {width:0;height:0;}
::-webkit-scrollbar-track {background-color:transparent;}
::-webkit-scrollbar-thumb {border-radius:5px;background-color:rgba(0, 0, 0, 0.3);}
.display-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.display-flex>* {
	display: block;
}

.display-inline-flex {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}

.display-inline-flex>* {
	display: block;
}

/*伸缩流方向*/
.flex-direction-column {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

/*主轴对齐*/
.justify-content-flex-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.justify-content-flex-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.justify-content-flex-justify {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

/*侧轴对齐*/
.align-items-flex-start {
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.align-items-flex-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.align-items-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.align-items-baseline {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	-webkit-align-items: baseline;
	align-items: baseline;
}

.flex-wrap {
	flex-wrap: wrap;
}

/*伸缩性*/
.flex-auto {
	-webkit-box-flex: 1;
	-ms-flex: auto;
	-webkit-flex: auto;
	flex: auto;
}

.flex-1 {
	width: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.title-bg{
	width:100%;
height:36px;
line-height: 33px;
/* background:rgba(255,255,255,0.1); */
font-size:18px;
font-family:Source Han Sans CN;
font-weight:bold;
color:rgba(255,255,255,1);
text-align: left;
padding-top:5px;
padding-left:15px;
margin-bottom:15px;
text-shadow: 2px 2px 3px #0187b3, -2px 2px 4px #0187b3, 2px -2px 4px #0187b3, -2px -2px 4px #0187b3;
}
/* 进度条 */
/* .progress {
	width: 50%;
	height: 15px;
	background: rgba(255, 255, 255, 0.2);
	margin: 5px 15px 0 15px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
  } */
.progressing {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	height: 10px;
	background-image:linear-gradient(90deg,rgba(83,254,192,0.17),rgba(83,254,192,1));
  }
  /* 鼠标效果，改变颜色 */
  .progressing:hover{
	
  }
  .progress .progressing .percentage {
	margin-left: 50px;
  }
  .height-title{
	  height:calc(100% - 50px); 
	  padding:0 15px;
  }
  .right-top-item{
	  width:100%;
	  height:100%;
	  /* background:url("../img/bg1.png") center no-repeat; */
	  background-size: 100%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }
  .bold-txt{
	  font-size: 30px;
	  font-weight: bold;
  }
  .map-w-h{
	  width:44vw;
	  height:70vh;
  }
  .company-bottom {
	/* position: fixed; */
	font-size: 12px;
	width: 100%;
	left: 33.33%;
	bottom: 0;
	text-align: center;
	padding-bottom: 5px;
}
.no-data{
	padding-top:20px;
	text-align: center;
}
.number-imgs .number {
	display: inline-block;
	width: 16px;
	height: 38px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 1px;
}

.number3 {
	background-image: url("../imgs/3.png");
}

.number1 {
	background-image: url("../imgs/1.png");
}

.number0 {
	background-image: url("../imgs/0.png");
}

.number2 {
	background-image: url("../imgs/2.png");
}

.number-imgs .numbera {
	background-image: url("../imgs/a.png");
	margin: 0 0px;
}

.number4 {
	background-image: url("../imgs/4.png");
}

.number5 {
	background-image: url("../imgs/5.png");
}

.number6 {
	background-image: url("../imgs/6.png");
}

.number7 {
	background-image: url("../imgs/7.png");
}

.number8 {
	background-image: url("../imgs/8.png");
}

.number9 {
	background-image: url("../imgs/9.png");
}
.right-title{
	text-align: right;
	padding-right:15px;
}
.award {
	position: absolute;
	bottom: 0px;
	left: 10px;
   -webkit-animation: move 5s infinite;
	animation: move 5s infinite;
}
.award-res {
	position: absolute;
	bottom: 0px;
	left: 10px;
	transform: rotate(180deg);
   -webkit-animation: move 5s infinite;
	animation: turn 5s infinite;
}
@-webkit-keyframes move {
	0%   {left: 0%;}
	50%{
		opacity: 1;
	}
	100%  {left: 95%;opacity: 0;}
 }
@keyframes move {
	0%   {left: 0%;}
	50%{
		opacity: 1;
	}
	100%  {left: 95%;opacity: 0;}
 }
 @-webkit-keyframes turn {
	0%   {left: 80%;}
	50%{
		opacity: 1;
	}
	100%  {left: 1%;opacity: 0;}
 }
@keyframes turn {
	0%   {left: 80%;}
	50%{
		opacity: 1;
	}
	100%  {left: 1%;opacity: 0;}
 }
 .black-btn {
	width: 60px;
	height: 30px;
	line-height: 27px;
	text-align: center;
	border: 1px solid #007aff;
	border-radius: 4px;
	color: #fff;
	position: absolute;
	top: 76px;
	left: 50px;
	cursor: pointer;
  }
  a,a:hover{
	  color:#fff;
  }