@charset "utf-8";

/********** Global **********/
/*
 *常用背景色： #0b0f34 (6,64,102) (29,45,57) (7,33,58) (8,13,28) (15,43,36)
 */
html, body {
	width:100%;
	height:100%;
	min-height:635px;
	font-family:"microsoft yahei", arial, sans-serif;
	font-size: 14px !important;

background-color:#061422;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 100%;
	overflow-x:hidden;
	overflow-y:auto;
	color:#fff;
}
p{margin:0 0 0 0}
img{
	max-height:100%;
	max-width:100%;
}
a{
	text-decoration:none
}
a:hover{text-decoration:none}

body.bg01 {background-image:url("../imgs/bg.png");}
body.bg02 {background-image:url("../img/bg02.png");}
body.bg03 {background-image:url("../img/bg03.png");}
body.bg04 {background-image:url("../img/bg04.png");}
.header {
	margin:0 auto;
	width:100%;
	/*height:111px;*/
	/*max-width:1920px;*/
	/*background:url("../imgs/title.png") center no-repeat;*/
	/*background-size: 100% 100%;*/
}
.header img{
	width:100%;
	max-height:111px;
}
.header h3 {
	/* font-family:MF LangQian (Noncommercial); */
	margin:0;
	padding:0;
	line-height:79px;
	text-align:center;
	font-size:30px;
	color:#fff;
	font-weight: bold;
}
.wrapper {position:absolute;top:119px;bottom:0;left:0;right:0;min-height:555px;}
.container-fluid {height:100%;min-height:100%;}
.row {margin-left:-7px;margin-right:-8px;}
.row>div {padding-left:7px;padding-right:8px;}
.xpanel-wrapper {box-sizing:border-box;}
.xpanel-wrapper-1 {height:100%;}
.xpanel-wrapper-2 {height:50%;}
.xpanel-wrapper-3 {height:33.33333%;}
.xpanel-wrapper-4 {height:35%;}

.xpanel-wrapper-6 {height:65%;}
.xpanel {
	height:100%;
	/*min-height:492px;*/
	box-sizing:border-box;
}
.green-color {
    color: #00FBFF;
}

/* tool */
.fill-h {height:100%;min-height:100%;
}
.box-bg{
	background:url("../imgs/bg_real-timemonitoring.png") center no-repeat;
	background-size: 100% 100%;
}
.no-margin {margin:0 !important;}
.no-padding {padding:0 !important;}

/* scrollbar */
::-webkit-scrollbar {width:0;height:0;}
::-webkit-scrollbar-track {background-color:transparent;}
::-webkit-scrollbar-thumb {border-radius:5px;background-color:rgba(0, 0, 0, 0.3);}
.display-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.display-flex>* {
	display: block;
}

.display-inline-flex {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}

.display-inline-flex>* {
	display: block;
}

/*伸缩流方向*/
.flex-direction-column {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

/*主轴对齐*/
.justify-content-flex-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.justify-content-flex-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.justify-content-flex-justify {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

/*侧轴对齐*/
.align-items-flex-start {
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.align-items-flex-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.align-items-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.align-items-baseline {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	-webkit-align-items: baseline;
	align-items: baseline;
}

.flex-wrap {
	flex-wrap: wrap;
}

/*伸缩性*/
.flex-auto {
	-webkit-box-flex: 1;
	-ms-flex: auto;
	-webkit-flex: auto;
	flex: auto;
}

.flex-1 {
	width: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.title-bg{
	width:100%;
	height:60px;
	line-height: 36px;
	/* background:rgba(255,255,255,0.1); */
	font-size:18px;
	font-family:Source Han Sans CN;
	font-weight:bold;
	color:rgba(255,255,255,1);
	text-align: left;
	padding-top: 15px;
	padding-left: 20px;
	text-shadow: 2px 2px 3px #0187b3, -2px 2px 4px #0187b3, 2px -2px 4px #0187b3, -2px -2px 4px #0187b3;
}
/* 进度条 */
/* .progress {
	width: 50%;
	height: 15px;
	background: rgba(255, 255, 255, 0.2);
	margin: 5px 15px 0 15px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
  } */
.progressing {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	height: 10px;
	background-image:linear-gradient(90deg,rgba(83,254,192,0.17),rgba(83,254,192,1));
  }
  /* 鼠标效果，改变颜色 */
  .progressing:hover{

  }
  .progress .progressing .percentage {
	margin-left: 50px;
  }
  /*.height-title{*/
	/*  height:calc(100% - 50px);*/
	/*  padding:0 22px;*/
  /*}*/
.height-title {
	height: calc(100% - 60px);
	padding: 0 22px;
	margin-top: 9px;
}
  .right-top-item{
	  width:100%;
	  height:100%;
	  /* background:url("../img/bg1.png") center no-repeat; */
	  background-size: 100%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }
  .bold-txt{
	  font-size: 30px;
	  font-weight: bold;
  }
  .map-w-h{
	  width:44vw;
	  height:70vh;
  }
  .company-bottom {
	/* position: fixed; */
	font-size: 12px;
	width: 100%;
	left: 33.33%;
	bottom: 0;
	text-align: center;
	  padding-bottom: 10px;
	  padding-top: 15px;
	  color:#D9EBE3;
}
.no-data{
	padding-top:20px;
	text-align: center;
}
.number-imgs .number {
	display: inline-block;
	width: 16px;
	height: 38px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 1px;
}

.number3 {
	background-image: url("../imgs/3.png");
}

.number1 {
	background-image: url("../imgs/1.png");
}

.number0 {
	background-image: url("../imgs/0.png");
}

.number2 {
	background-image: url("../imgs/2.png");
}

.number-imgs .numbera {
	background-image: url("../imgs/a.png");
	margin: 0 0px;
}

.number4 {
	background-image: url("../imgs/4.png");
}

.number5 {
	background-image: url("../imgs/5.png");
}

.number6 {
	background-image: url("../imgs/6.png");
}

.number7 {
	background-image: url("../imgs/7.png");
}

.number8 {
	background-image: url("../imgs/8.png");
}

.number9 {
	background-image: url("../imgs/9.png");
}
.right-title{
	text-align: right;
	padding-right:20px;
}
.award {
	position: absolute;
	bottom: 0px;
	left: 10px;
   -webkit-animation: move 5s infinite;
	animation: move 5s infinite;
}
.award-res {
	position: absolute;
	bottom: 0px;
	left: 10px;
	transform: rotate(180deg);
   -webkit-animation: move 5s infinite;
	animation: turn 5s infinite;
}
@-webkit-keyframes move {
	0%   {left: 0%;}
	50%{
		opacity: 1;
	}
	100%  {left: 95%;opacity: 0;}
 }
@keyframes move {
	0%   {left: 0%;}
	50%{
		opacity: 1;
	}
	100%  {left: 95%;opacity: 0;}
 }
 @-webkit-keyframes turn {
	0%   {left: 80%;}
	50%{
		opacity: 1;
	}
	100%  {left: 1%;opacity: 0;}
 }
@keyframes turn {
	0%   {left: 80%;}
	50%{
		opacity: 1;
	}
	100%  {left: 1%;opacity: 0;}
 }

  a,a:hover{
	  color:#fff;
  }

.monitor-select {
	width: 90%;
	height: 36px;
	padding: 0 7px;
	background: #0F2345;
	border: 1px solid #00B0FF;
	border-radius: 6px;
	color: #00FBFF;
	text-align: right;
	margin-top: 12px;
	margin-left:5%;
	box-shadow: inset 0 0 7px 0px rgba(18, 140, 254, 1);
	outline: #0F2345;
	margin-bottom: 16px;
}
.monitor-select.el-cascader .el-input .el-input__inner{
	background-color:rgba(0,0,0,0);
	height:36px;
	border:none;
	color:#00FBFF;
}
.monitor-select.el-select .el-input__inner{
	background-color:rgba(0,0,0,0);
	height:36px;
	border:none;

}

.monitor-select.el-cascader{
	line-height:36px;
}
.noDataImg{
	text-align: center;
	padding:20px 0;
	color:#999;
}
.black-btn a{
	display: block;
	position: absolute;
	top:8px;
	left:3%;
	color:#128cfe;
	cursor: pointer;
	line-height: 24px;
	background-image: url("../imgs/home.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left:30px;

}

#appLods{
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-7px;
	margin-left:-150px;
}
.version-warp{
	position: relative;
	width:300px;
	height:15px;
	border-radius: 15px;
	border:solid 1px #cccccc;
	font-size:12px;
	margin-bottom:20px;
	line-height: 15px;
}
.version{
	text-align: right;
	background-color:#0e84c5;
	position: absolute;
	left:0;
	top:0;
	height:15px;
	color:#fff;
	border-radius: 15px;
}
[v-cloak]{
	visibility: hidden;
}
.spotCategory{
	display: inline-block;
	width:8px;
	height:8px;
	border-radius: 8px;
	margin-right: 3px;
}
.spotCategory.temperature{
	background-color: #89A0FD;
}
.spotCategory.humidity{
	background-color: #17C6BD;
}
.amap-info-close{
	right:5px!important;
}
.amap-info-content{
	background-color:rgba(0,0,0,0.4)!important;
	color:#fff;
}
.bottom-center .amap-info-sharp{
	border-top: 8px solid rgba(0,0,0,0.4)!important;
}
.imgDialogBg .el-dialog{
	background-color:rgba(1,18,56,0.8)
}
.imgDialogBg .el-dialog__title{
	color:#fff;
}
