.info-map-height {
    height: 60vh;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.detection-swiper-container .swiper-slide {
    height: 100%;
    overflow: hidden;
}
.detection-title p{
    margin:0 0;
}

.detection-swiper-container .swiper-slide li {
    width: 25%;
    float: left;
    margin: 0 0 14px 0;
    text-align: center;
}

.detection-swiper-container .swiper-slide .detection-val {
    font-size: 20px;
    color: #00FBFF;
    background-image: url("../imgs/pic1.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 60px;
    text-align: center;
}

.detection-swiper-container .swiper-slide .detection-name {

    padding-left: 26px;
    background-position: left center;
    background-repeat: no-repeat;
    height: 21px;
    line-height: 21px;
    margin: 8px 0 0 0;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detection-swiper-container .swiper-slide .unit {
    font-size: 14px;
}

.wrap {
    height: calc(100% - 165px);
    line-height: 20px;
    overflow: hidden;
    text-indent: 2em;
    padding: 15px 0;
}

.wrap .text {
    float: right;
    margin-left: -5px;
    width: 100%;
    word-break: break-all;
}

.wrap::before {
    float: left;
    width: 5px;
    content: '';
    height: 40px;
}

.wrap::after {
    float: right;
    /* content: "..."; */
    content: "";
    height: 20px;
    line-height: 20px;
    /* 为三个省略号的宽度 */
    width: 3em;
    /* 使盒子不占位置 */
    margin-left: -3em;
    /* 移动省略号位置 */
    position: relative;
    left: 100%;
    bottom: -20px;
    padding-right: 5px;
}

.company-img {
    width: 100%;
    height: 53.5%;
}

.drug-list {
    width: 24%;
    height: 30px;
    line-height: 30px;
    background: rgba(127, 202, 175, 0.5);
    margin-right: 1.33%;
    text-align: center;
    margin-bottom: 1.33%;
}

.display-flex .drug-list:nth-of-type(4n) {
    margin-right: 0;
}


.swiper-title {
    background: #00AE61;
    text-align: center;
    line-height: 25px;
}

.swiper-label {
    position: absolute;
    left: -5px;
    top: 5px;
}



.video-height {
    margin-top: 15px;
    height: calc(100% - 80px);
}

.drug-info {
    width: 100%;
    text-align: center;
    z-index: 5;
    position: absolute;
    top: 6px;
}

.drug-info li {
    width: 217px;
    height: 120px;
    background-image: url("../imgs/bg1.png");
    background-size: 100% 100%;
    margin: 0 5px;
    color: #E6FEF7;
    font-size: 20px;
    padding-top: 20px;
    display: inline-block;
}

.drug-distribution {
    height: 100%;
    position: relative;
}

#cityMap {
    height: 100%;
}
.intro-col {
    overflow: hidden;
    margin:13px 0 0 0;
}
.intro-col span:first-child{

     float: left;
     width:100px;
 }
.intro-col span:nth-child(2){
     display: block;
     margin-left: 100px;
 }
.intro-text{
    height:42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    letter-spacing: 0.5px;
}
.intro-info{
    margin-top:13px;
    line-height:21px;
    position: relative;
}
/*.intro-info a{*/
/*    color:#00FBFF*/
/*}*/
.intro-detail{
    position: absolute;
    right:5px;
    bottom:0;
    color:#53FEC0;
}
.point,.point::before,.point::after{position: absolute;width: 12px; height: 12px; border-radius: 50%;content:''; }
.point::before{animation: scale 1.5s infinite; }
.point::after{animation: scale2 1.5s infinite; }
@keyframes scale{0%{ transform: scale(1); opacity:.9}100%{ transform: scale(3); opacity: 0;}}
@keyframes scale2{0%{ transform: scale(1);opacity:.9;}100%{ transform: scale(6);opacity:0;}}
.point2,.point2::before,.point2::after{
    /* 设置颜色 */
    background-color: rgba(0, 221, 254, .9);
}
.detection-title{
    text-align: left;
    position: relative;
    font-size:16px;
    line-height: 32px;
    font-weight:bold;
}
.detection-time{
    position: absolute;
    left:50%;
    top:0;
    font-size:12px;
    line-height: 32px;
    font-weight:400;
}
.detection-swiper-container{
    margin-top:5px;
    height:calc(100% - 60px)
}
.swiper-pagination-bullet{
    background: #00fbff;
    opacity: .3;
    width: 8px;
    height: 8px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
.icon-air{
    background-image: url("../imgs/icon_airtemperature.png");
}
.icon-airhumidity{
    background-image: url("../imgs/icon_airhumidity.png");
}
.icon-co2{
    background-image: url("../imgs/icon_co2.png");
}
.icon-soiltemperature{
    background-image: url("../imgs/icon_soiltemperature.png");
}
.icon-soils{
    background-image: url("../imgs/icon_soils.png");
}
.icon-soilhumidity{
    background-image: url("../imgs/icon_soilhumidity.png");
}
.icon-es{
    background-image: url("../imgs/icon_ec.png");
}
.icon-rainfall{
    background-image: url("../imgs/icon_rainfall.png");
}
.icon-ph{
    background-image: url("../imgs/PH.png");
}
.icon-lightintensity{
    background-image: url("../imgs/icon_lightintensity.png");
}
.icon-windspeed{
    background-image: url("../imgs/icon_windspeed.png");
}
.icon-directionofthewind{
    background-image: url("../imgs/icon_directionofthewind.png");
}
.icon-atmosphericpressure{
    background-image: url("../imgs/icon_atmosphericpressure.png");
}
.icon-pm25{
    background-image: url("../imgs/pm25.png");
}
.icon-pm10{
    background-image: url("../imgs/pm10.png");
}
.detection-swiper-container .swiper-pagination{
    bottom: 0px;
}
.pie-chart {
    height: 108%;
    margin-top:-6%;
    /*margin: 4% auto 0 auto;*/
    position: relative;
    text-align: center;
}
.pie-chart .bg{
    background-image: url(../imgs/index/pie.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    height: 70%;
    width: 100%;
    position: absolute;
    top: 15%;

}
.pie-chart .income-echars{
    width:100%;
    height:100%;

}
.polygonal{
    margin-top:-15px;
}



@media screen and (max-width: 1450px) {
    .drug-info li{
        width: 170px;
        height: 110px;
    }
}
@media screen and (max-height: 965px) {
    .intro-col{
        margin: 10px 0 0 0;
    }
    .detection-swiper-container .swiper-slide .detection-val{
        font-size:18px;
    }
    .detection-swiper-container .swiper-slide .detection-val{
        height:56px;
    }
    .detection-swiper-container .swiper-slide .detection-name{
        background-size: 19px auto;
        padding-left: 22px;
    }

}
@media screen and (max-height: 935px) {
    .detection-swiper-container .swiper-slide .detection-val{
        height:54px;
    }
    .detection-swiper-container .swiper-slide .detection-name{
        background-size: 17px auto;
        padding-left: 20px;
    }
}
@media screen and (max-height: 910px) {
    .detection-swiper-container .swiper-slide .detection-val{
        height:50px;
        background-size:70% auto;
    }
    .detection-swiper-container .swiper-slide .detection-name{
        background-size: 17px auto;
        padding-left: 20px;
    }
    .company-img{
        height:53%;
    }
    .intro-info{
        margin-top:10px
    }
}
