.info-map-height {
    height: 60vh;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

.basic-info li {

    overflow: hidden;
}

.basic-info-name {
    display: block;
    width: 135px;
    float: left;
}

.basic-info,
.flag-title,
.honor-content {
    font-size: 14px;
}

.basic-info li {
    line-height: 32px;
}

p {
    margin: 0;
}

.basic-info-name {
    float: left;
}

.basic-info-text {
    display: block;
    margin-left: 135px;
}

.wrap {
    height: calc(100% - 165px);
    line-height: 20px;
    overflow: hidden;
    padding: 15px 0;
}

.wrap .text {
    float: right;
    margin-left: -5px;
    width: 100%;
    word-break: break-all;
}

.wrap::before {
    float: left;
    width: 5px;
    content: '';
    height: 40px;
}

.wrap::after {
    float: right;
    /* content: "..."; */
    content: "";
    height: 20px;
    line-height: 20px;
    /* 为三个省略号的宽度 */
    width: 3em;
    /* 使盒子不占位置 */
    margin-left: -3em;
    /* 移动省略号位置 */
    position: relative;
    left: 100%;
    bottom: -20px;
    padding-right: 5px;
}

.company-img {
    width: 100%;
    height: 150px;
}

.drug-list {
    width: 24%;
    height: 30px;
    line-height: 30px;
    background: rgba(127, 202, 175, 0.5);
    margin-right: 1.33%;
    text-align: center;
    margin-bottom: 1.33%;
}

.display-flex .drug-list:nth-of-type(4n) {
    margin-right: 0;
}



.video-height {
    margin-top: 15px;
    height: calc(100% - 80px);
}

.drug-info {
    width: 100%;
    text-align: center;
    z-index: 5;
    position: absolute;
    top: 6px;
}
.drug-info li .number-imgs{
    margin-bottom: 7px;
}
.drug-info li {
    width: 217px;
    height: 120px;
    background-image: url("../imgs/bg1.png");
    background-size: 100% 100%;
    margin: 0 5px;
    color: #E6FEF7;
    font-size: 18px;
    padding-top: 20px;
    display: inline-block;
}

.drug-distribution {
    height: 100%;
    position: relative;
}

#cityMap {
    height: 100%;
}

.base-map {
    width: 40%;
    display: inline-block;
}

/* .item-bg-y {
    width: 49%;
    background: url('../assets/new/bg1.png') no-repeat;
    color: #b1fef6;
    line-height: 30px;
    font-size: 16px;
    padding: 0 10px;
} */

.myscroll {
    width: 300px;
    height: calc(100% - 15px);
    line-height: 30px;
    overflow: hidden;
}

#scroll2 {
    width: 100%;
    height: calc(100% - 50px);
    line-height: 30px;
    overflow: hidden;
}

.myscroll li {
    height: 30px;
}

.barChar-box {
    position: relative;
    height: calc(100%);
}

.barChar {
    height: calc(110%);
    margin-top:-5%;
}
.barChar-wrap{
    margin-top:0;
}
.barChar-instruct {
    position: absolute;
    top: 12%;
    left: 16px;
    font-size: 12px;
}

.barChar-instruct span {
    display: inline-block
}

.barChar-instruct .violet {
    margin-left: 27px;
}

.barChar-instruct .green {
    margin-left: 24px;
}

.barChar-instruct .violet:before,
.barChar-instruct .green:before {
    display: block;
    content: '';
    width: 20px;
    height: 10px;
    float: left;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: 5px;
}

.barChar-instruct .violet:before {
    background: linear-gradient(0deg, rgba(60, 93, 250, 1), rgba(137, 160, 253, 1));
}

.barChar-instruct .green:before {
    background: linear-gradient(0deg, rgba(14, 132, 197, 1), rgba(23, 198, 189, 1));
}
.work-roder{
    height: calc(100% - 80px);
}
.personnel-box{
    height: calc(100% - 70px);
}
.work-roder .base-item{
    overflow: hidden;
    margin-bottom:10px;
    line-height: 40px;
}
.work-roder .base-item span{
    display: block;
    float: left;
    width:20%;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding:0 2px;
}
.work-roder .base-item span img{
    width:100%;
    max-width: 60px;
    height:auto;
    max-height:40px;
}
@media screen and (max-width: 1450px) {
    .drug-info li{
        width: 170px;
        height: 110px;
    }
}
@media screen and (max-height: 965px) {

}
@media screen and (max-height: 935px) {
    .basic-info li{
        line-height: 28px;
    }
    .myscroll li{
        height:28px;
    }
}
@media screen and (max-height: 910px) {

}
