<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>宜宾江安白李果源数字化管理平台</title>
    <link rel="icon" href="./imgs/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel='stylesheet' href='css/nprogress.css'/>
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src='js/nprogress.js'></script>
</head>

<body class="bg01">
    <header class="header">
        <img src="imgs/title.png"/>
<!--        <h3>宜宾江安白李天下数字化管理平台</h3>-->
    </header>

    <div class="wrapper">

        <div class="container-fluid" id="container-y" v-cloak>
            <div class="row fill-h">
                <div class="col-lg-3 fill-h">
                    <div class="xpanel-wrapper" style="height:53%;">
                        <div class="xpanel">
                            <!-- 左侧 -->
                            <div class="fill-h"
                                style="background-image:url('./imgs/index/bg_pingtaijianjie.png');background-size: 100% 100%;cursor: pointer;"
                                @click="toCompany">
                                <div class="title-bg">平台简介</div>
                                <!-- 所有地区 -->
                                <div class="height-title">
                                    <div class="company-img"
                                        :style="{backgroundImage:'url('+introImg+')',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
                                    </div>


                                    <p class="intro-col">
                                        <span>企业名称</span>
                                        <span>{{enterpriseInfo.name}}</span>
                                    </p>
                                    <p class="intro-col">
                                        <span>基地位置</span>
                                        <span>{{enterpriseInfo.provinceName}}{{enterpriseInfo.cityName}}{{enterpriseInfo.areaName}}</span>
                                    </p>
                                    <p class="intro-col">
                                        <span>主要品种</span>
                                        <span>
                                            <a v-for="(item,index) in plantInfo.breeds">{{item.name}}<i v-if="index!=plantInfo.breeds.length-1">、</i></a>
                                        </span>

                                    </p>
                                    <div class="intro-info">
                                        <router-link to="/introduce">
                                            <div class="intro-text">
                                                {{introName}}
                                            </div>
                                            <span class="intro-detail">详情</span>
                                        </router-link>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="xpanel-wrapper" style="height:47%">
                        <div class="xpanel">
                            <!-- 左侧 -->
                            <div class="fill-h"
                                style="background-image:url('./imgs/index/bg_shishijiankong.png');background-size: 100% 100%;">
                                <div class="title-bg">实时监控</div>
                                <div class="height-title">
<!--                                    <select class="monitor-select right">-->
<!--                                        <option>黄龙寨</option>-->
<!--                                    </select>-->
                                    <el-cascader
                                            class="monitor-select"
                                            v-model="value"
                                            :options="options"
                                            @change="selectAddress"></el-cascader>
                                    <video id="myVideo" width="100%" height="75%" ref="myPlayer" controls :src="address"></video>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 fill-h">
                    <div class="xpanel-wrapper xpanel-wrapper-1">
                        <div class="xpanel">
                            <!-- 地图散点 -->
                            <div style="height:60%">
                                <div class="drug-distribution"
                                    style="background-image:url('./imgs/index/bg_map.png');background-size: 100% 100%;padding:7px;overflow: hidden;position: relative;">
                                    <ul class="drug-info oh">
                                        <li>
                                            <p class="number-imgs">
                                                <span class="number" v-for="item in muNumberData"
                                                    :class="'number'+item"></span>
                                            </p>
                                            <p>服务面积（亩)</p>
                                        </li>
                                        <li>
                                            <p class="number-imgs">
                                                <span class="number" v-for="item in tonNumberData"
                                                    :class="'number'+item"></span>
                                            </p>
                                            <p>预估年产量（吨）</p>
                                        </li>
                                        <li>
                                            <p class="number-imgs">
                                                <span class="number" v-for="item in moneyNumberData"
                                                    :class="'number'+item"></span>
                                            </p>
                                            <p>预估年产值（万元）</p>
                                        </li>
                                    </ul>
                                    <div
                                        style="height:100%;width:100%;border-top-left-radius: 15px;border-top-right-radius: 15px;overflow: hidden;">
                                        <div class="map" ref="map" id="cityMap"></div>
                                    </div>

                                    <img class="award" src="./imgs/anim.png" alt="">
                                </div>
                            </div>
                            <div
                                style="height:40%;background-image:url('./imgs/index/bg_moisture.png');background-size: 100% 100%;position: relative;">
                                <div class="title-bg">土壤墒情</div>
                                <div class="height-title polygonal" id="polygonal" ref="polygonal"></div>
                                <img class="award-res" src="./imgs/anim.png" alt="">
                            </div>
                            <!-- 公司信息 -->
                            <div class="company-bottom">
                                <div>
                                    Copyright All Rights Reserved
                                    <a href="https://scbysk.com/home" target="_blank">四川本源数科科技有限公司</a>
                                </div>
                                <div>蜀ICP备20024953号-1</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 fill-h">
                    <div class="xpanel-wrapper xpanel-wrapper-1">
                        <div class="xpanel">
                            <!-- 右一-->
                            <div class="fill-h">
                                <div
                                    style="height: 34.3%;background:url('./imgs/index/bg_ganjuzhanbi.png') center no-repeat;background-size: 100% 100%;">
                                    <div class="title-bg right-title">果品交易</div>
                                    <div class="height-title">
                                        <div class="pie-chart">
                                            <div class="bg"></div>
                                            <div ref="pieChart" class="income-echars"></div>
                                        </div>
                                    </div>
                                </div>
                                <div style="height:65.7%;background:url('./imgs/index/bg_qixiangshuju.png') center no-repeat;background-size: 100% 100%;">

                                    <div class="title-bg right-title">气象数据</div>
                                    <div class="height-title">
                                        <div class="detection-title">
                                            <p style="height:36px;"><span v-if="analysisBases">【{{analysisBases}}】</span></p>
                                            <p class="detection-time" v-html="detectionTime"></p>
                                        </div>
                                        <!--swiper-->
                                        <div class="swiper-container detection-swiper-container">
                                            <div class="swiper-wrapper">
                                                <ul class="swiper-slide" v-for="item in analysisData">
                                                    <li>
                                                        <p class="detection-val">{{item.airHumidity}}<span class="unit">%</span></p>
                                                        <p class="detection-name icon-airhumidity">大气湿度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.airPressure}}<span class="unit">kpa</span></p>
                                                        <p class="detection-name icon-atmosphericpressure">大气压力</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.airTemperature}}<span class="unit">℃</span></p>
                                                        <p class="detection-name icon-air">大气温度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.co2value}}<span class="unit">ppm</span></p>
                                                        <p class="detection-name icon-co2">CO2浓度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.illIntensity}}<span class="unit">lux</span></p>
                                                        <p class="detection-name icon-lightintensity">光照强度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.pm10value}}<span class="unit">ug/m3</span></p>
                                                        <p class="detection-name icon-pm10">PM10</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.pm25value}}<span class="unit">ug/m3</span></p>
                                                        <p class="detection-name icon-pm25">PM2.5</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.rainfall}}<span class="unit">mm</span></p>
                                                        <p class="detection-name icon-rainfall">降雨量</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.soilEc}}<span class="unit">us/cm</span></p>
                                                        <p class="detection-name icon-es">土壤EC值</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.soilHumidity}}<span class="unit">%</span></p>
                                                        <p class="detection-name icon-soilhumidity">土壤湿度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.soilPh}}<span class="unit"></span></p>
                                                        <p class="detection-name icon-ph">土壤PH值</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.soilTemperature}}<span class="unit">℃</span></p>
                                                        <p class="detection-name icon-soiltemperature">土壤温度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.soils}}<span class="unit">ppm</span></p>
                                                        <p class="detection-name icon-soils">土壤盐分</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.windDirection}}<span class="unit">度</span></p>
                                                        <p class="detection-name icon-directionofthewind">风向</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">{{item.windSpeed}}<span class="unit">m/s</span></p>
                                                        <p class="detection-name icon-windspeed">风速</p>
                                                    </li>
                                                </ul>

                                            </div>
                                            <!-- Add Pagination -->
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script src="js/echarts-3.8.5.min.js"></script>
    <script type="text/javascript" src="js/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.15&key=b37218900009b3618f05afc6210f4dca"></script>
    <script src="https://open.ys7.com/sdk/js/1.4/ezuikit.js"></script>


    <script type="text/javascript">
        new Vue({
            el: '#container-y',
            data() {
                return {
                    orgid: 189,
                    enterpriseInfo: {},//公司简介
                    introImg: '',//公司图片
                    // baseUrl: 'http://snj.scbysk.com/byapi',
                    baseUrl: 'http://ja.scbysk.com/byapi',
                    // baseUrl: 'http://192.168.2.79:9998',
                    monitorVideo: '',
                    muNumberData: [],
                    tonNumberData: [],
                    moneyNumberData: [],
                    map: null,
                    markers: [],
                    plantInfo: {},
                    introName:'',
                    screenWidth:document.body.clientWidth,
                    screenHeight:document.body.clientHeight,
                    options:[],
                    oneId:'',
                    value:'',
                    address:'',
                    player:'',
                    analysisData:[],//气象数据
                    analysisBases:'',
                    detectionTime:'',
                    loading:true,
                    nprogressNumber:0,
                    Interval:null,
                }
            },
            created() {
                let Hheight=$('.header').height()+9
                $('.wrapper').css('top',Hheight)
                this.baseDetailInfo();
                //监控数据
                this.getBaseWithMonitorVideos();

               //折线图
                this.largescreenindexAnalyze();

                //收入占比饼图
                this.initPieChart();
            },
            mounted() {

                this.initData();
            },
            methods: {
                initData(){
                    $.when($.get(this.baseUrl + '/api/kanban/org/getRecentlyRecords', { size:'',orgId: this.orgid }), $.get(this.baseUrl + '/api/largescreenindex/getBaseInfo', { orgid: this.orgid })).done(function(result1,result2){
                        //result1 气象数据
                        //result2 公司信息




                        this.analysisData=result1[0].data;//数据
                        this.$nextTick(function(){
                            this.initSwiper();
                        })
                        let introName=result2[0].data.introName.replace(/<\/?.+?>/g,"");


                        this.enterpriseInfo = result2[0].data;//公司简介
                        if(this.screenWidth>1900){
                            this.introName=introName.slice(0,52)+'...';
                        }else if(this.screenWidth>1800){
                            this.introName=introName.slice(0,44)+'...';
                        }else if(this.screenWidth>1630){
                            this.introName=introName.slice(0,40)+'...';
                        }else if(this.screenWidth>1530){
                            this.introName=introName.slice(0,36)+'...';
                        }else if(this.screenWidth>1430){
                            this.introName=introName.slice(0,34)+'...';
                        }else if(this.screenWidth>1200){
                            this.introName=introName.slice(0,28)+'...';
                        }else{
                            this.introName=introName.slice(0,28)+'...';
                        }


                        if (this.enterpriseInfo.introImg != null) {
                            this.introImg = this.enterpriseInfo.introImg.split(',')[0]
                        }


                        this.loading=false;


                    }.bind(this));

                },
                initPieChart(){

                    this.$nextTick(()=>{
                        let myChart = echarts.init(this.$refs.pieChart)
                        let option = {
                            tooltip: {
                                trigger: 'item',
                                formatter: '{b}: {d}%'
                            },
                            color:['#3ED09B','#03d7da'],
                            series: [
                                {
                                    name: '访问来源',
                                    type: 'pie',
                                    radius: ['40%', '55%'],
                                    label: {
                                        formatter: '{b}: {d}%',
                                    },
                                    data: [
                                        {value: 25, name: '其他:25%'},
                                        {value: 75, name: '大白李:75%'}
                                    ]
                                }
                            ]
                        };
                        myChart.setOption(option);
                    })

                },

                largescreenindexAnalyze(){//折线图

                    let airHumidity=[];//空气湿度
                    let airTemperature=[];//空气温度
                    let soilHumidity=[];//土壤湿度
                    let soilTemperature=[];//土壤温度
                    let timeData=[]

                    $.get(this.baseUrl + '/api/largescreenindex/baseAnalyze', { Type:0,orgId: this.orgid }, function (result) {
                        let analysisData=result.data;
                        console.log('折线：',analysisData)
                        analysisData.map((item,index)=>{
                            airHumidity.push(item.airHumidity);//空气湿度
                            airTemperature.push(item.airTemperature);//空气温度
                            soilHumidity.push(item.soilHumidity);//土壤湿度
                            soilTemperature.push(item.soilTemperature);//土壤温度
                            let time=item.monitorTimeStr+':00';
                            timeData.push(time)
                        })
                        let that=this;
                        setTimeout(function(){
                            that._drawPolygonal(airTemperature, soilHumidity, timeData)
                        },500)


                    }.bind(this));

                },
                getBaseWithMonitorVideos(){//监控
                    $.get(this.baseUrl + '/api/billboardIndexs/getBaseWithMonitorVideos', { orgId: this.orgid }, function (result) {
                        this.oneId=result.data[0].id;
                        this.$nextTick(()=>{
                            result.data.map((item,index)=>{
                                let obj={
                                    value: item.id,
                                    label: item.name,
                                    children:[]
                                }
                                item.monitorVideoChannelVOS.map((childerItem,childerIndex)=>{
                                    obj.children.push({
                                        label:childerItem.channelName,
                                        value:childerItem.channelNo+'-'+childerItem.monitorVideoCode,
                                    })
                                    this.getMonitorVideosByBaseId(childerItem.channelNo,childerItem.monitorVideoCode,childerIndex,childerItem.channelName,index)

                                })
                                this.options.push(obj);
                            })
                        })

                    }.bind(this));
                },
                getMonitorVideosByBaseId(channelNo,monitorVideoCode,i,name,Pindex){

                    let data={
                        channelNo:channelNo,
                        deviceSerial:monitorVideoCode,
                        orgId:this.orgid
                    }
                    $.get(this.baseUrl + '/api/billboardIndexs/getLiveAddresByDevice', data , function (result) {

                        this.options[Pindex].children[i].name=name;
                        this.options[Pindex].children[i].value=result.data[0].hls;

                        if(i==0){
                            this.$nextTick(()=>{
                                this.value=[this.options[0].value,this.options[0].children[0].value];
                                this.oneId=this.value[0];
                                this.selectAddress(this.value);

                            })

                        }
                    }.bind(this));
                },
                selectAddress(datas){
                    if (datas.length != 0) {
                        this.address = datas[1];
                        this.$nextTick(() => {
                            if(this.oneId!=datas[0]){
                                this.setInfoWindow(datas[0])
                            }
                            this.player = new EZUIPlayer("myVideo");

                        });

                    }
                },
                setInfoWindow(baseId){
                    let baseInfo=this.plantInfo.baseInfo;
                    baseInfo.map(item=>{
                        if(item.baseId==baseId){
                            console.log('item:',item);
                            let baseName=item.name
                            let map_addr=JSON.parse(item.map_addr);
                            let lnglat=[map_addr.path[0].lng,map_addr.path[0].lat]
                            console.log('lnglat:',map_addr.path[0].lng,map_addr.path[0].lat)
                            var infoWindow = new AMap.InfoWindow({
                                position: lnglat,
                                offset: new AMap.Pixel(-3, -10),
                                content: '<div style="color:#c3c3c3">'+baseName+'</div>'
                            });
                            infoWindow.open(this.map);
                        }
                    })

                },
                toCompany() {
                    window.location.href = 'company.html'
                },
                initSwiper() {
                    let that=this;
                    new Swiper('.detection-swiper-container', {
                        loop: true,
                        autoplay: {
                            delay: 3000,
                        },
                        spaceBetween: 1,
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        on: {
                            slideChangeTransitionStart: function(){
                                let index=0;
                                if(this.activeIndex>that.analysisData.length){
                                    index=0;
                                }else{
                                    index=this.activeIndex-1;
                                }
                                let time=that.analysisData[index].monitorTime;
                                that.analysisBases=that.analysisData[index].baseName;

                                let timeArr=time.split(' ')[0]+'  '+time.split(' ')[1];
                                that.detectionTime=timeArr;
                            },
                        },
                    });
                },

                baseDetailInfo() {//地图数据
                    $.get(this.baseUrl + '/api/largescreenindex/baseDetailInfo', { orgid: this.orgid }, function (result) {

                        this.plantInfo = result.data;//种植信息


                        let totalAcreageNumber=result.data.totalAcreage
                        totalAcreageNumber=Math.round(totalAcreageNumber*100)/100;
                        let totalAcreage=totalAcreageNumber.toString();


                        let numbertotalYield=(result.data.totalAcreage*1.5);
                        numbertotalYield=Math.round(numbertotalYield*100)/100;

                        let numbertotalProduction=(result.data.totalAcreage*1.2);

                        numbertotalProduction=Math.round(numbertotalProduction*100)/100;

                        let totalYield=numbertotalYield.toString();
                        let totalProduction=numbertotalProduction.toString();

                        this.getNumber(totalAcreage, 1);
                        this.getNumber(totalYield, 2);
                        this.getNumber(totalProduction, 3);
                        let _this = this
                        setTimeout(function () {
                            _this.initMap()
                        }, 1000)
                    }.bind(this));
                },
                _drawPolygonal(dataLeft, dataRight, dataX) {
                    let _this = this;

                    let timeD=[];
                    dataX.map(item=>{
                        timeD.push(item.split(' ')[1])
                    })

                    let polygonalChart = echarts.init(document.getElementById('polygonal'), null, { devicePixelRatio: 2.5 });
                    var colors = ["#0089FF", "#B865DF"];
                    // 指定图表的配置项和数据
                    var option = {
                        color: colors,
                        tooltip: {
                            trigger: 'axis',
                            formatter:function(params){

                                for(var i in params){
                                    for(var k in timeD){
                                        if(timeD[k]==params[i].name){
                                            return dataX[k]+"<br/><span class='spotCategory humidity'></span>温度:"+dataLeft[k]+"<br><span class='spotCategory temperature'></span>湿度:"+dataRight[k]
                                        }
                                    }
                                }
                            },

                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        legend: {
                            show: true,
                            data: ["大气温度", "土壤湿度"],
                            y: 10,
                            textStyle: {
                                color: "#fff"
                            }
                        },
                        xAxis: [
                            {
                                type: "category",
                                data: timeD,
                                boundaryGap: false,
                                axisLine: {
                                    show: false,

                                    lineStyle: {
                                        color: "#fff"
                                    }
                                },
                                axisTick: {
                                    show: false
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: "value",
                                name: "温度：℃",
                                position: "left",
                                splitLine: { show: false },
                                axisLine: {
                                    show: false,

                                    lineStyle: {
                                        color: "#fff"
                                    }
                                },
                                axisTick: {
                                    show: false
                                }
                            },
                            {
                                type: "value",
                                name: "湿度：%",
                                position: "right",

                                splitLine: { show: false },
                                axisLine: {
                                    show: false,

                                    lineStyle: {
                                        color: "#fff"
                                    }
                                },
                                axisTick: {
                                    show: false
                                }
                            }
                        ],
                        series: [

                            {
                                name: "大气温度",
                                type: "line",
                                barWidth: 20,
                                data: dataLeft,
                                yAxisIndex: 1,
                                itemStyle: {
                                    normal: {
                                        color: '#97f2f7', //改变折线点的颜色
                                        lineStyle: {
                                            color: '#97f2f7' //改变折线颜色
                                        }
                                    }
                                },
                                areaStyle: { // 阴影渲染颜色渐变样式
                                    normal: {
                                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                            { offset: 0.5, color: '#97f2f7' },
                                            { offset: 1, color: '#d0eff0' }
                                        ])
                                    }
                                }
                            },{
                                name: "土壤湿度",
                                type: "line",
                                barWidth: 20,
                                data: dataRight,
                                yAxisIndex: 0,
                                itemStyle: {
                                    normal: {
                                        color: '#5b7fc8', //改变折线点的颜色
                                        lineStyle: {
                                            color: '#5b7fc8' //改变折线颜色
                                        }
                                    }
                                },
                                areaStyle: {
                                    normal: {
                                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                            { offset: 0.5, color: '#5b7fc8' },
                                            { offset: 1, color: '#92a8d3' }
                                        ])
                                    }
                                } // 阴影渲染颜色渐变样式
                            }
                        ]
                    };


                    polygonalChart.setOption(option);
                },
                getNumber(number, index) {
                    switch (index) {
                        case 1:
                            this.muNumberData = this.backNumber(number);
                            break;
                        case 2:
                            this.tonNumberData = this.backNumber(number);
                            break;
                        case 3:
                            this.moneyNumberData = this.backNumber(number);
                            break;
                        default:
                            return;
                    }
                },
                backNumber(str) {
                    const arr = str.split('');
                    let imgs = [];
                    arr.map(item => {
                        if (item == '.') {
                            item = 'a'
                        }
                        imgs.push(item)
                    })
                    return imgs
                },
                initMap() {
                    let that = this;

                    // MapLoader().then(AMap => {
                    let googleLayer = new AMap.TileLayer({
                        getTileUrl:
                            "http://mt{1,2,3,0}.google.cn/vt/lyrs=s&hl=zh-CN&gl=cn&x=[x]&y=[y]&z=[z]&s=Galile"
                    }); //定义谷歌卫星切片图层

                    let roadNetLayer = new AMap.TileLayer.RoadNet({
                        opacity: 0
                    }); //定义一个路网图层
                    that.map = new AMap.Map(this.$refs.map, {
                        resizeEnable: true,
                        center: [110.671525 - 0.20, 31.744449 - 0.17],
                        zooms: [10, 18],
                        layers: [googleLayer, roadNetLayer], //设置图层
                        // viewMode:'3D',
                    });
                    AMap.plugin(["AMap.DistrictSearch", "AMap.Marker"], function () {
                        var district = new AMap.DistrictSearch({
                            extensions: "all",
                            subdistrict: 0
                        });
                        district.search("江安县", function (status, result) {
                            // 外多边形坐标数组和内多边形坐标数组
                            var bounds = result.districtList[0].boundaries;
                            var outer = [
                                new AMap.LngLat(-360, 90, true),
                                new AMap.LngLat(-360, -90, true),
                                new AMap.LngLat(360, -90, true),
                                new AMap.LngLat(360, 90, true)
                            ];
                            var pathArray = [outer];
                            pathArray.push.apply(pathArray, bounds);
                            var polygon = new AMap.Polygon({
                                path: pathArray,
                                strokeColor: "#0AFBE2",
                                strokeWeight: 1,
                                fillColor: "#26374C",
                                fillOpacity: 0.5
                            });
                            polygon.setPath(pathArray);
                            that.map.add(polygon);
                            var polygons = [];
                            if (bounds) {
                                for (var i = 0, l = bounds.length; i < l; i++) {
                                    //生成行政区划polygon
                                    var polygon1 = new AMap.Polygon({
                                        map: that.map,
                                        strokeWeight: 1,
                                        path: bounds[i],
                                        fillOpacity: 0,
                                        fillColor: "#CCF3FF",
                                        strokeColor: "#CC66CC"
                                    });
                                    polygons.push(polygon1);
                                }
                                // 地图自适应
                                that.map.setFitView(polygons);
                            }
                        });

                        that.plantInfo.baseInfo.map((item, index) => {
                            let map_addr = JSON.parse(item.map_addr);
                            let marker = new AMap.Marker({
                                position: new AMap.LngLat(map_addr.path[0].lng, map_addr.path[0].lat),
                                offset: new AMap.Pixel(-10, -10),
                                // content: '<div style="width:20px;height:28px"><img src="https://webapi.amap.com/theme/v1.3/markers/n/mark_bs.png"/></div>',
                                content: '<div class="point point2"></div>',
                            });
                            that.markers.push(marker);
                            // that.map.add(marker);
                            marker.setMap(that.map)
                            marker.on("click", function (e) {
                                window.location.href = 'land.html?baseId=' + item.baseId
                            })
                        })

                    });
                    this.setInfoWindow(this.oneId)

                },
            }
        })
        function toHome() {
            window.history.back();
        }
    </script>
</body>

</html>
