<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>江安柑橘</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <script src="js/vue.js"></script>
    <style>
        .info-map-height {
            height: 60vh;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        .detection-swiper-container .swiper-slide {
            height: 100%;
            overflow: hidden;
        }

        .detection-swiper-container .swiper-slide li {
            width: 25%;
            float: left;
            margin: 16px 0;
        }

        .detection-swiper-container .swiper-slide .detection-val {
            font-size: 20px;
            color: #00FBFF;
            background-image: url("./imgs/pic1.png");
            background-position: center bottom;
            background-repeat: no-repeat;
            height: 62px;
            text-align: center;
        }

        .detection-swiper-container .swiper-slide .detection-name {
            padding-left: 28px;
            background-position: left center;
            background-repeat: no-repeat;
            height: 21px;
            line-height: 21px;
            margin-top: 10px;
        }

        .detection-swiper-container .swiper-slide .unit {
            font-size: 14px;
        }

        .wrap {
            height: calc(100% - 165px);
            line-height: 20px;
            overflow: hidden;
            padding: 15px 0;
        }

        .wrap .text {
            float: right;
            margin-left: -5px;
            width: 100%;
            word-break: break-all;
        }

        .wrap::before {
            float: left;
            width: 5px;
            content: '';
            height: 40px;
        }

        .wrap::after {
            float: right;
            /* content: "..."; */
            content: "";
            height: 20px;
            line-height: 20px;
            /* 为三个省略号的宽度 */
            width: 3em;
            /* 使盒子不占位置 */
            margin-left: -3em;
            /* 移动省略号位置 */
            position: relative;
            left: 100%;
            bottom: -20px;
            padding-right: 5px;
        }

        .company-img {
            width: 100%;
            height: 150px;
        }

        .drug-list {
            width: 24%;
            height: 30px;
            line-height: 30px;
            background: rgba(127, 202, 175, 0.5);
            margin-right: 1.33%;
            text-align: center;
            margin-bottom: 1.33%;
        }

        .display-flex .drug-list:nth-of-type(4n) {
            margin-right: 0;
        }


        .swiper-title {
            background: #00AE61;
            text-align: center;
            line-height: 25px;
        }

        .swiper-label {
            position: absolute;
            left: -5px;
            top: 5px;
        }

        .monitor-select {
            width: 100%;
            height: 36px;
            padding: 0 7px;
            background: #0F2345;
            border: 1px solid #00B0FF;
            border-radius: 6px;
            color: #00FBFF;
            text-align: right;
            margin-top: 6px;
            box-shadow: inset 0 0 7px 0px rgba(18, 140, 254, 1);
            outline: #0F2345;
        }

        .video-height {
            margin-top: 15px;
            height: calc(100% - 80px);
        }

        .drug-info {
            width: 100%;
            text-align: center;
            z-index: 5;
            position: absolute;
            top: 6px;
        }

        .drug-info li {
            width: 217px;
            height: 120px;
            background-image: url(./imgs/bg1.png);
            background-size: 100% 100%;
            margin: 0 5px;
            color: #E6FEF7;
            font-size: 20px;
            padding-top: 20px;
            display: inline-block;
        }

        .drug-distribution {
            height: 100%;
            position: relative;
        }

        #cityMap {
            height: 100%;
        }
    </style>
</head>

<body class="bg01">
    <header class="header">
        <h3>宜宾江安柑橘大观园数字化管理平台</h3>
    </header>

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row fill-h" id="container-y">
                <div class="col-lg-3 fill-h">
                    <div class="xpanel-wrapper xpanel-wrapper-2">
                        <div class="xpanel">
                            <!-- 左侧 -->
                            <div class="fill-h"
                                style="background-image:url('./imgs/index/bg_pingtaijianjie.png');background-size: 100% 100%;cursor: pointer;"
                                @click="toCompany">
                                <div class="title-bg">地区介绍</div>
                                <!-- 所有地区 -->
                                <div class="height-title">
                                    <div class="company-img"
                                        :style="{backgroundImage:'url('+introImg+')',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
                                    </div>
                                    <div class="wrap">
                                        <div class="text">{{enterpriseInfo.introName}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="xpanel-wrapper xpanel-wrapper-2">
                        <div class="xpanel">
                            <!-- 左侧 -->
                            <div class="fill-h"
                                style="background-image:url('./imgs/index/bg_shishijiankong.png');background-size: 100% 100%;">
                                <div class="title-bg">实时监控</div>
                                <div class="height-title">
                                    <select class="monitor-select right">
                                        <option>黄龙寨</option>
                                    </select>
                                    <video id="myVideo" class="video-height" width="100%" ref="myPlayer" controls
                                        :src="monitorVideo"></video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 fill-h">
                    <div class="xpanel-wrapper xpanel-wrapper-1">
                        <div class="xpanel">
                            <!-- 地图散点 -->
                            <div style="height:60%">
                                <div class="drug-distribution"
                                    style="background-image:url('./imgs/index/bg_map.png');background-size: 100% 100%;padding:7px;overflow: hidden;position: relative;">
                                    <ul class="drug-info oh">
                                        <li>
                                            <p class="number-imgs">
                                                <span class="number" v-for="item in muNumberData"
                                                    :class="'number'+item"></span>
                                            </p>
                                            <p>基地面积（亩)</p>
                                        </li>
                                        <li>
                                            <p class="number-imgs">
                                                <span class="number" v-for="item in tonNumberData"
                                                    :class="'number'+item"></span>
                                            </p>
                                            <p>年产量（吨）</p>
                                        </li>
                                        <li>
                                            <p class="number-imgs">
                                                <span class="number" v-for="item in moneyNumberData"
                                                    :class="'number'+item"></span>
                                            </p>
                                            <p>年产值（万元）</p>
                                        </li>
                                    </ul>
                                    <div
                                        style="height:100%;width:100%;border-top-left-radius: 15px;border-top-right-radius: 15px;overflow: hidden;">
                                        <div class="map" ref="map" id="cityMap"></div>
                                    </div>

                                    <img class="award" src="./imgs/anim.png" alt="">
                                </div>
                            </div>
                            <div
                                style="height:40%;background-image:url('./imgs/index/bg_moisture.png');background-size: 100% 100%;position: relative;">
                                <div class="title-bg">土壤墒情</div>
                                <div class="height-title" ref="polygonal"></div>
                                <img class="award-res" src="./imgs/anim.png" alt="">
                            </div>
                            <!-- 公司信息 -->
                            <div class="company-bottom">
                                <div>Copyright All Rights Reserved四川本源数科科技有限公司</div>
                                <div>蜀ICP备20024953号-1</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 fill-h">
                    <div class="xpanel-wrapper xpanel-wrapper-1">
                        <div class="xpanel">
                            <!-- 右一-->
                            <div class="fill-h">
                                <div
                                    style="height:40%;background:url('./imgs/index/bg_ganjuzhanbi.png') center no-repeat;background-size: 100% 100%;">
                                    <div class="title-bg right-title">柑橘收入占比</div>
                                    <div class="height-title">
                                        <img style="width:100%" src="./imgs/pic2.png" alt="">
                                    </div>
                                </div>
                                <div
                                    style="height:60%;background:url('./imgs/index/bg_qixiangshuju.png') center no-repeat;background-size: 100% 100%;">

                                    <div class="title-bg right-title">气象数据</div>
                                    <div class="height-title">
                                        <!--swiper-->
                                        <div class="swiper-container detection-swiper-container">
                                            <div class="swiper-wrapper">
                                                <ul class="swiper-slide">
                                                    <li>
                                                        <p class="detection-val">26<span class="unit">℃</span></p>
                                                        <p class="detection-name icon-air">空气温度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">46<span class="unit">%</span></p>
                                                        <p class="detection-name icon-airhumidity">空气湿度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">645<span class="unit">ppm</span></p>
                                                        <p class="detection-name icon-co2">CO2浓度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">18<span class="unit">℃</span></p>
                                                        <p class="detection-name icon-soiltemperature">土壤温度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">51<span class="unit">%</span></p>
                                                        <p class="detection-name icon-soilhumidity">土壤温度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">33<span class="unit">us/cm</span></p>
                                                        <p class="detection-name icon-es">土壤ES值</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">10.0<span class="unit">mm</span></p>
                                                        <p class="detection-name icon-rainfall">降雨量</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">6.9<span class="unit"></span></p>
                                                        <p class="detection-name icon-ph">土壤PH值</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">557<span class="unit">lux</span></p>
                                                        <p class="detection-name icon-lightintensity">光照强度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">33<span class="unit">us/cm</span></p>
                                                        <p class="detection-name icon-windspeed">风速</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">10.0<span class="unit">mm</span></p>
                                                        <p class="detection-name icon-directionofthewind">风向</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">6.9<span class="unit"></span></p>
                                                        <p class="detection-name icon-atmosphericpressure">大气压强</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">557<span class="unit">lux</span></p>
                                                        <p class="detection-name icon-pm25">PM2.5</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">33<span class="unit">us/cm</span></p>
                                                        <p class="detection-name icon-pm10">PM10</p>
                                                    </li>
                                                </ul>
                                                <ul class="swiper-slide">
                                                    <li>
                                                        <p class="detection-val">26<span class="unit">℃</span></p>
                                                        <p class="detection-name icon-air">空气温度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">46<span class="unit">%</span></p>
                                                        <p class="detection-name icon-airhumidity">空气湿度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">645<span class="unit">ppm</span></p>
                                                        <p class="detection-name icon-co2">CO2浓度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">18<span class="unit">℃</span></p>
                                                        <p class="detection-name icon-soiltemperature">土壤温度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">51<span class="unit">%</span></p>
                                                        <p class="detection-name icon-soilhumidity">土壤温度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">33<span class="unit">us/cm</span></p>
                                                        <p class="detection-name icon-es">土壤ES值</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">10.0<span class="unit">mm</span></p>
                                                        <p class="detection-name icon-rainfall">降雨量</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">6.9<span class="unit"></span></p>
                                                        <p class="detection-name icon-ph">土壤PH值</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">557<span class="unit">lux</span></p>
                                                        <p class="detection-name icon-lightintensity">光照强度</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">33<span class="unit">us/cm</span></p>
                                                        <p class="detection-name icon-windspeed">风速</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">10.0<span class="unit">mm</span></p>
                                                        <p class="detection-name icon-directionofthewind">风向</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">6.9<span class="unit"></span></p>
                                                        <p class="detection-name icon-atmosphericpressure">大气压强</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">557<span class="unit">lux</span></p>
                                                        <p class="detection-name icon-pm25">PM2.5</p>
                                                    </li>
                                                    <li>
                                                        <p class="detection-val">33<span class="unit">us/cm</span></p>
                                                        <p class="detection-name icon-pm10">PM10</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Add Pagination -->
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- <script type="text/javascript" src="js/index.js"></script> -->
    <script src="js/echarts-3.8.5.min.js"></script>
    <script type="text/javascript" src="js/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.15&key=b37218900009b3618f05afc6210f4dca"></script>
    <script type="text/javascript">
        new Vue({
            el: '#container-y',
            data() {
                return {
                    orgid: 139,
                    enterpriseInfo: {},//公司简介
                    introImg: '',//公司图片
                    baseUrl: 'http://snj.scbysk.com/byapi',
                    monitorVideo: '',
                    muNumberData: [],
                    tonNumberData: [],
                    moneyNumberData: [],
                    map: null,
                    markers: [],
                    plantInfo: {}
                }
            },
            created() {
                this.getBaseInfo()
                this.baseDetailInfo()
            },
            mounted() {

                let dataLeft = [22, 21, 24, 23.5, 25, 26, 26.5, 25.5, 24, 24.5,22, 23]
                let dataRight = [60, 55, 67, 68, 70, 76, 75,72, 68, 65, 69,66]
                let dataX = ['11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00']
                this._drawPolygonal(dataLeft, dataRight, dataX)
                this.initSwiper()
            },
            methods: {
                toCompany() {
                    window.location.href = 'company.html'
                },
                initSwiper() {
                    new Swiper('.detection-swiper-container', {
                        loop: true,
                        autoplay: {
                            delay: 3000,
                        },
                        spaceBetween: 1,
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                        }
                    });
                },
                getBaseInfo() {//公司信息
                    $.get(this.baseUrl + '/api/largescreenindex/getBaseInfo', { orgid: this.orgid }, function (result) {
                        console.info(result)
                        this.enterpriseInfo = result.data;//公司简介

                        if (this.enterpriseInfo.introImg != null) {
                            this.introImg = this.enterpriseInfo.introImg.split(',')[0]
                        }
                    }.bind(this));
                },
                baseDetailInfo() {//地图数据
                    $.get(this.baseUrl + '/api/largescreenindex/baseDetailInfo', { orgid: this.orgid }, function (result) {
                        let totalAcreage = result.data.totalAcreage.toString();//种植信息-面积
                        let totalYield = result.data.totalYield.toString();//种植信息-产量
                        let totalProduction = result.data.totalProduction.toString();//种植信息-产值
                        this.plantInfo = result.data;//种植信息
                        this.getNumber(totalAcreage, 1);
                        this.getNumber(totalYield, 2);
                        this.getNumber(totalProduction, 3);
                        let _this = this
                        setTimeout(function () {
                            _this.initMap()
                        }, 1000)
                    }.bind(this));
                },
                _drawPolygonal(dataLeft, dataRight, dataX) {
                    let _this = this;
                    let polygonalChart = echarts.init(this.$refs.polygonal, null, { devicePixelRatio: 2.5 });
                    var colors = ["#0089FF", "#B865DF"];
                    // 指定图表的配置项和数据
                    var option = {
                        color: colors,
                        tooltip: {
                            trigger: "axis",
                            axisPointer: {
                                type: "cross",
                                crossStyle: {
                                    color: "#fff"
                                }
                            }
                        },
                        legend: {
                            show: true,
                            data: ["大气温度", "土壤湿度"],
                            y: 10,
                            textStyle: {
                                color: "#fff"
                            }
                        },
                        xAxis: [
                            {
                                type: "category",
                                data: dataX,
                                boundaryGap: false,
                                axisLine: {
                                    show: false,

                                    lineStyle: {
                                        color: "#fff"
                                    }
                                },
                                axisTick: {
                                    show: false
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: "value",
                                name: "温度：℃",
                                position: "left",
                                splitLine: { show: false },
                                axisLine: {
                                    show: false,

                                    lineStyle: {
                                        color: "#fff"
                                    }
                                },
                                axisTick: {
                                    show: false
                                }
                            },
                            {
                                type: "value",
                                name: "湿度：%",
                                position: "right",

                                splitLine: { show: false },
                                axisLine: {
                                    show: false,

                                    lineStyle: {
                                        color: "#fff"
                                    }
                                },
                                axisTick: {
                                    show: false
                                }
                            }
                        ],
                        series: [
                            
                            {
                                name: "大气温度",
                                type: "line",
                                barWidth: 20,
                                data: dataLeft,
                                yAxisIndex: 1,
                                itemStyle: {
                                    normal: {
                                        color: '#97f2f7', //改变折线点的颜色
                                        lineStyle: {
                                            color: '#97f2f7' //改变折线颜色
                                        }
                                    }
                                },
                                areaStyle: { // 阴影渲染颜色渐变样式
                                    normal: {
                                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                            { offset: 0.5, color: '#97f2f7' },
                                            { offset: 1, color: '#d0eff0' }
                                        ])
                                    }
                                }
                            },{
                                name: "土壤湿度",
                                type: "line",
                                barWidth: 20,
                                data: dataRight,
                                yAxisIndex: 0,
                                itemStyle: {
                                    normal: {
                                        color: '#5b7fc8', //改变折线点的颜色
                                        lineStyle: {
                                            color: '#5b7fc8' //改变折线颜色
                                        }
                                    }
                                },
                                    areaStyle: {
                                        normal: {
                                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                                { offset: 0.5, color: '#5b7fc8' },
                                                { offset: 1, color: '#92a8d3' }
                                            ])
                                        }
                                    } // 阴影渲染颜色渐变样式
                                }
                        ]
                    };
                    polygonalChart.setOption(option);
                },
                getNumber(number, index) {
                    switch (index) {
                        case 1:
                            this.muNumberData = this.backNumber(number);
                            break;
                        case 2:
                            this.tonNumberData = this.backNumber(number);
                            break;
                        case 3:
                            this.moneyNumberData = this.backNumber(number);
                            break;
                        default:
                            return;
                    }
                },
                backNumber(str) {
                    const arr = str.split('');
                    let imgs = [];
                    arr.map(item => {
                        if (item == '.') {
                            item = 'a'
                        }
                        imgs.push(item)
                    })
                    return imgs
                },
                initMap() {
                    let that = this;

                    // MapLoader().then(AMap => {
                    let googleLayer = new AMap.TileLayer({
                        getTileUrl:
                            "http://mt{1,2,3,0}.google.cn/vt/lyrs=s&hl=zh-CN&gl=cn&x=[x]&y=[y]&z=[z]&s=Galile"
                    }); //定义谷歌卫星切片图层

                    let roadNetLayer = new AMap.TileLayer.RoadNet({
                        opacity: 0
                    }); //定义一个路网图层
                    that.map = new AMap.Map(this.$refs.map, {
                        resizeEnable: true,
                        center: [110.671525 - 0.20, 31.744449 - 0.17],
                        zooms: [10, 18],
                        layers: [googleLayer, roadNetLayer], //设置图层
                        // viewMode:'3D',
                    });
                    AMap.plugin(["AMap.DistrictSearch", "AMap.Marker"], function () {
                        var district = new AMap.DistrictSearch({
                            extensions: "all",
                            subdistrict: 0
                        });
                        district.search("神农架林区", function (status, result) {
                            // 外多边形坐标数组和内多边形坐标数组
                            var bounds = result.districtList[0].boundaries;
                            var outer = [
                                new AMap.LngLat(-360, 90, true),
                                new AMap.LngLat(-360, -90, true),
                                new AMap.LngLat(360, -90, true),
                                new AMap.LngLat(360, 90, true)
                            ];
                            var pathArray = [outer];
                            pathArray.push.apply(pathArray, bounds);
                            var polygon = new AMap.Polygon({
                                path: pathArray,
                                strokeColor: "#0AFBE2",
                                strokeWeight: 1,
                                fillColor: "#26374C",
                                fillOpacity: 0.5
                            });
                            polygon.setPath(pathArray);
                            that.map.add(polygon);
                            var polygons = [];
                            if (bounds) {
                                for (var i = 0, l = bounds.length; i < l; i++) {
                                    //生成行政区划polygon
                                    var polygon1 = new AMap.Polygon({
                                        map: that.map,
                                        strokeWeight: 1,
                                        path: bounds[i],
                                        fillOpacity: 0,
                                        fillColor: "#CCF3FF",
                                        strokeColor: "#CC66CC"
                                    });
                                    polygons.push(polygon1);
                                }
                                // 地图自适应
                                that.map.setFitView(polygons);
                            }
                        });

                        that.plantInfo.baseInfo.map((item, index) => {
                            let map_addr = JSON.parse(item.map_addr);
                            let marker = new AMap.Marker({
                                position: new AMap.LngLat(map_addr.path[0].lng, map_addr.path[0].lat),
                                offset: new AMap.Pixel(-10, -10),
                                content: '<div style="width:20px;height:28px"><img src="https://webapi.amap.com/theme/v1.3/markers/n/mark_bs.png"/></div>',
                            });
                            that.markers.push(marker);
                            // that.map.add(marker);
                            marker.setMap(that.map)
                            marker.on("click", function (e) {
                                window.location.href = 'land.html?baseId=' + item.baseId
                            })
                        })
                    });
                },
            }
        })
        function toHome() {
            window.history.back();
        }
    </script>
</body>

</html>