<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>全国中药材资源查询系统</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <script src="js/vue.js"></script>
    <style>
        .province-item {
            line-height: 28px;
        }

        .province-title {
            display: inline-block;
            width: 103px;
        }

        .num-width {
            display: inline-block;
            width: 50px;
        }

        .tip-box {
            width: 207px;
            text-align: center;
            padding-top: 50px;
            margin: 0 auto;
        }

        .info-map-height {
            height: 60vh;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .left-img-height {
            height: calc((100% - 100px)/2);
            padding-top: 25px;
        }

        .intro-box {
            text-indent: 2em;
            padding: 0 10px;
        }

        .drug-list {
            width: 24%;
            height: 30px;
            line-height: 30px;
            background: rgba(127, 202, 175, 0.5);
            margin-right: 1.33%;
            text-align: center;
            margin-bottom: 1.33%;
        }

        .display-flex .drug-list:nth-of-type(4n) {
            margin-right: 0;
        }


        .swiper-title {
            background: #00AE61;
            text-align: center;
            line-height: 25px;
        }

        .swiper-label {
            position: absolute;
            left: -5px;
            top: 5px;
        }

        .black-btn {
            width: 80px;
            background: #00AE61;
            text-align: center;
            border-radius: 6px;
            margin-left: 35px;
            cursor: pointer;
            padding: 5px 8px;
            box-shadow: 0 8px 16px 0 rgba(0, 174, 97, 0.2), 0 6px 20px 0 rgba(0, 174, 97, 0.19);
        }
    </style>
</head>

<body class="bg01">
    <header class="header">
        <h3>全 国 中 药 材 资 源 查 询 系 统</h3>
        <div class="black-btn" onclick="toHome()">返回</div>
    </header>

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row fill-h" id="container-y">
                <div class="col-lg-3 fill-h">
                    <div class="xpanel-wrapper xpanel-wrapper-4">
                        <div class="xpanel">
                            <!-- 左侧 -->
                            <div class="fill-h">
                                <div class="title-bg">地区介绍</div>
                                <!-- 所有地区 -->
                                <div class="intro-box">
                                    {{areaData.intro}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="xpanel-wrapper xpanel-wrapper-6">
                        <div class="xpanel">
                            <!-- 左侧 -->
                            <div class="fill-h">
                                <div class="title-bg">收录{{areaData.province}}药材</div>
                                <div class="left-img-height">
                                    <!-- 背景图+数字 -->
                                    <div class="right-top-item" style="background-size:auto 100%;">
                                        <div>
                                            <span class="bold-txt">{{areaData.drug.length}}</span><span>种</span>
                                        </div>
                                        <div>药材</div>
                                    </div>
                                </div>
                                <div class="left-img-height">
                                    <!-- 背景图+数字 -->
                                    <div class="right-top-item" style="background-size:auto 100%;">
                                        <div>
                                            <span class="bold-txt">{{num2}}</span><span>种</span>
                                        </div>
                                        <div>道地药材</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 fill-h">
                    <div class="xpanel-wrapper xpanel-wrapper-1">
                        <div class="xpanel">
                            <!-- 地图散点 -->
                            <div style="height:70%">
                                <div class="info-map-height" id="scatterMap"></div>
                            </div>
                            <div>
                                <div class="title-bg">出产药材信息</div>
                                <!-- Swiper -->

                                <div class="swiper-container" v-if="areaData.drug.length>0">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" v-for="(item,i) in areaData.drug" :key="i+'a'">
                                            <div style="width:100%;position: relative;padding-top:9px">
                                                <img v-if="item.isGenuine" src="./img/label.png" alt=""
                                                    class="swiper-label">
                                                <!-- <div
                                                    :style="{width:'100%',height:'110px',backgroundImage:'url('+item.imgUrl+')',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
                                                </div> -->
                                                <img :src="item.imgUrl" alt="" style="width:100%">
                                                <div class="swiper-title">{{item.name}}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination"></div>
                                </div>

                                <div v-else class="no-data">暂无数据</div>
                                <!-- 公司信息 -->
                                <div class="company-bottom">
                                    <div>本系统数据由第三方机构提供，仅供参考</div>
                                    <div>Copyright All Rights Reserved四川本源数科科技有限公司</div>
                                    <div>蜀ICP备20024953号-1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 fill-h">
                    <div class="xpanel-wrapper xpanel-wrapper-1">
                        <div class="xpanel">
                            <!-- 右一-->
                            <div class="fill-h" id="provinceMap">
                                <div class="title-bg">出产药材种类</div>
                                <div class="display-flex  flex-wrap" v-if="areaData.drug.length>0">
                                    <div class="drug-list" v-for="item in areaData.drug">{{item.name}}</div>
                                </div>
                                <div v-else class="no-data">暂无数据</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/echarts-3.8.5.min.js"></script>
    <script type="text/javascript" src="js/echarts-map-world.js"></script>
    <script type="text/javascript" src="js/echarts-map-china.js"></script>
    <script type="text/javascript" src="js/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#container-y',
            data() {
                return {
                    code: null,
                    scatterMap: null,
                    areaData: { drug: [] },
                    num2: 0
                }
            },
            created() {
                this.code = this.getUrlParam('code')
                this.initMap()
                let _this = this
                $.getJSON('data/drug.json', function (geoJson) {
                    let arr = geoJson.data.filter(item => {
                        return item.code == _this.code
                    })
                    _this.areaData = arr[0]
                    setTimeout(function () {
                        var swiper = new Swiper('.swiper-container', {
                            slidesPerView: 7,
                            spaceBetween: 30,
                            loop: true,
                            speed: 300,
                            autoplay: {
                                disableOnInteraction: false, //手动滑动之后不打断播放
                                delay: 2000
                            },
                            observer: true //监听，当改变swiper的样式（例如隐藏/显示）或者修改swiper的子元素时，自动初始化swiper。
                        });
                    }, 50)
                    let arrs = [..._this.areaData.drug]
                    let isGenuine = arrs.filter(item => {
                        return item.isGenuine == 1
                    })
                    _this.num2 = isGenuine.length
                })
            },
            methods: {
                getUrlParam(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); // 构造一个含有目标参数的正则表达式对象
                    var r = window.location.search.substr(1).match(reg); // 匹配目标参数
                    if (r != null) return decodeURI(r[2]);
                    return null; // 返回参数值
                },
                initMap() {
                    let _this = this
                    $.getJSON('data/' + this.code + '.json', function (geoJson) {
                        this.scatterMap = echarts.init(document.getElementById("scatterMap"));
                        echarts.registerMap('北京', geoJson);
                        // 处理点

                        var data = [
                            { "name": " ", "value": "299" }
                        ]
                        var geoCoordMap = {
                            ' ': [104.749376, 31.57684],
                        }
                        //获取数据和坐标
                        var convertData = function (data) {
                            if (_this.code == 510000) {
                                var res = [];
                                for (var i = 0; i < data.length; i++) {
                                    var geoCoord = geoCoordMap[data[i].name];
                                    if (geoCoord) {
                                        res.push({
                                            name: data[i].name,
                                            value: geoCoord.concat(data[i].value)
                                        });
                                    }
                                }
                                return res;
                            }


                        };
                        // 处理点 ********************end
                        this.scatterMap.setOption(option = {
                            visualMap: {
                                min: 0,
                                max: 500,
                                show: false,
                                splitNumber: 5,
                                inRange: {
                                    color: ['#d94e5d', '#eac736', '#50a3ba'].reverse()
                                },
                                textStyle: {
                                    color: '#fff'
                                }
                            },
                            geo: {
                                map: '北京',
                                label: {
                                    normal: {
                                        show: true,
                                        color: '#fff'
                                    },
                                    emphasis: {
                                        show: true,
                                        color: '#fff'
                                    }
                                },
                                roam: false,
                            //     left: 0,
							//  right: 0,
                                itemStyle: {
                                    normal: {
                                        areaColor: '#048855',
                                        borderColor: '#fff',
                                        borderWidth: 1.5
                                    },
                                    emphasis: {
                                        areaColor: '#00FF00',
                                    }
                                },
                                label: {
								emphasis: {
									show: true,
									textStyle: {
										fontSize: 13,
										color: '#FFFF00'
									}
								},
								normal: {
									show: true,
									textStyle: {
										fontSize: 12,
										color: "#fff"
									}
								}
							},
                                layoutCenter: ['1%', '1%']
                            },
                            series: [{
                                name: 'Top 5',
                                type: 'effectScatter',
                                coordinateSystem: 'geo',
                                data: convertData(data.sort(function (a, b) {
                                    return b.value - a.value;
                                }).slice(0, 5)),
                                symbolSize: function (val) {
                                    return val[2] / 10;
                                },
                                showEffectOn: 'render',
                                rippleEffect: {
                                    brushType: 'stroke'
                                },
                                hoverAnimation: true,
                                label: {
                                    normal: {
                                        formatter: '{b}',
                                        position: 'right',
                                        show: true
                                    }
                                },
                                itemStyle: {
                                    normal: {
                                        color: '#05C3F9',
                                        shadowBlur: 10,
                                        shadowColor: '#05C3F9'
                                    }
                                },
                                zlevel: 1

                            }]
                        });
                        this.scatterMap.on('click', function (params) {
                            //写点击之后进行的操作
                            if (params.data) {
                                window.location.href = 'http://billboard.scddwb.com/';
                            }
                        })
                        
                        window.onresize = function () {
                            _this.scatterMap.resize();
                        }
                    });
                }
            }
        })
        function toHome() {
            window.history.back();
        }
    </script>
</body>

</html>