<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>宜宾江安白李果源数字化管理平台</title>
    <link rel="icon" href="./imgs/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/land.css" />
    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body class="bg01">
<header class="header">
    <img src="imgs/title.png"/>
    <div class="black-btn"><a href="index.html">返回</a></div>
</header>

    <div class="wrapper" style="visibility: hidden">
        <div class="container-fluid">
            <div class="row fill-h" id="container-y" v-cloak>
                <div class="col-lg-3 fill-h">
                    <div class="xpanel-wrapper" style="height:25%">
                        <div class="xpanel">
                            <!-- 左侧 -->
                            <div class="fill-h"
                                style="background-image:url('./imgs/land/bg_jichuxinxi.png');background-size: 100% 100%;">
                                <div class="title-bg">基础信息</div>
                                <!-- 所有地区 -->
                                <div class="height-title">
                                    <ul class="basic-info">
                                        <li>
                                            <span class="basic-info-name">所在地区</span>
                                            <span
                                                class="green-color basic-info-text" v-cloak>{{baseInfo.province_name}}{{baseInfo.city_name}}{{baseInfo.area_name}}{{baseInfo.addr}}</span>
                                        </li>
                                        <li>
                                            <span class="basic-info-name">基地名称</span>
                                            <span class="green-color basic-info-text">{{baseInfo.name}}</span>
                                        </li>
                                        <li>
                                            <span class="basic-info-name">栽培种类</span>
                                            <p class="green-color basic-info-text">
                                                <span v-for="(item,index) in baseInfo.breeds">{{item.name}}<i
                                                        v-if="index!=baseInfo.breeds.length-1">、</i></span>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="basic-info-name">基地面积</span>
                                            <span class="green-color basic-info-text">{{baseInfo.acreage}}亩</span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="xpanel-wrapper" style="height:25%">
                        <div class="xpanel">
                            <!-- 左侧 -->
                            <div class="fill-h"
                                style="background-image:url('./imgs/land/bg_jidixiangguanrenyuan.png');background-size: 100% 100%;">
                                <div class="title-bg">相关人员信息</div>
                                <!-- 所有地区 -->
                                <div class="height-title personnel-box">
                                    <div class="myscroll" id="scroll">
                                        <ul class="basic-info">
                                            <li class="base-item green-color" v-for="(item,m) in baseInfo.staff"
                                                :key="m+'c'" v-if="hasStaff">
                                                <span class="basic-info-name">{{item.name}}</span>
                                                <p class="basic-info-text">
                                                    <span v-for="(Roles,Rindex) in item.userRoles">{{Roles.name}}<i
                                                            v-if="Rindex!=item.userRoles.length-1">、</i></span>
                                                </p>
                                            </li>

                                            <div v-if="!hasStaff"
                                                 style="width:100%;padding-top:10px;text-align:center;color:#fff;">暂无数据</div>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="xpanel-wrapper" style="height:50%">
                        <div class="xpanel">
                            <!-- 左侧 -->
                            <div class="fill-h"
                                style="background-image:url('./imgs/index/bg_shishijiankong.png');background-size: 100% 100%;">
                                <div class="title-bg">实时监控</div>
                                <div class="height-title">

                                    <el-cascader
                                            class="monitor-select"
                                            v-model="value"
                                            :options="options"
                                            @change="handleChange"></el-cascader>
                                    <video id="myVideo" width="100%" height="75%" ref="myPlayer" controls :src="monitorVideo"></video>



<!--                                    <el-cascader-->
<!--                                            class="monitor-select"-->
<!--                                            v-model="value"-->
<!--                                            :options="options"-->
<!--                                            @change="handleChange"></el-cascader>-->

<!--                                    <video id="myVideo" class="video-height" width="100%" ref="myPlayer" controls-->
<!--                                        :src="monitorVideo"></video>-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 fill-h">
                    <div class="xpanel-wrapper xpanel-wrapper-1">
                        <div class="xpanel">
                            <!-- 地图散点 -->
                            <div style="height:60%">
                                <div class="drug-distribution"
                                    style="background-image:url('./imgs/index/bg_map.png');background-size: 100% 100%;padding:7px;overflow: hidden;position: relative;">
                                    <ul class="drug-info oh">
                                        <li>
                                            <p class="number-imgs">
                                                <span class="number" v-for="item in muNumberData"
                                                    :class="'number'+item"></span>
                                            </p>
                                            <p>服务面积（亩)</p>
                                        </li>
                                        <li>
                                            <p class="number-imgs">
                                                <span class="number" v-for="item in tonNumberData"
                                                    :class="'number'+item"></span>
                                            </p>
                                            <p>预估年产量（吨）</p>
                                        </li>
                                        <li>
                                            <p class="number-imgs">
                                                <span class="number" v-for="item in moneyNumberData"
                                                    :class="'number'+item"></span>
                                            </p>
                                            <p>预估年产值（万元）</p>
                                        </li>
                                    </ul>
                                    <div
                                        style="height:100%;width:100%;border-top-left-radius: 15px;border-top-right-radius: 15px;overflow: hidden;">
                                        <div class="map" ref="map" id="cityMap"></div>
                                    </div>
                                    <img class="award" src="./imgs/anim.png" alt="">
                                </div>
                            </div>
                            <div
                                style="height:40%;background-image:url('./imgs/land/bg_zhongzhigongdan.png');background-size: 100% 100%;position: relative;">
                                <div class="title-bg">种植工单</div>
                                <div class="height-title work-roder">
                                    <ul
                                        style="position:relative;list-style:none;background:rgba(255,255,255,0.2);font-size:13px;line-height:30px;">
                                        <li class="base-item display-flex justify-content-flex-center"
                                            style="padding: 0 10px;">
                                            <span>操作时间</span>
                                            <span>农事操作</span>
                                            <span>种植批次</span>
                                            <span>投入品</span>
                                            <span>操作照片</span>
                                        </li>
                                    </ul>
                                    <div class="myscroll" id="scroll2" style="">
                                        <ul>
                                            <li class="base-item" v-for="(item,m) in workOrder" :key="m+'c'"
                                                v-if="hasOrder">
                                                <span>{{item.executiontime}}</span>
                                                <span :title="item.farmWorkItemName">{{item.farmWorkItemName}}</span>
                                                <span>{{item.batchName}}</span>
                                                <span>{{item.equipmentResourceStr || "无"}}</span>
                                                <span v-if="item.farmWorkRecordPics==null || item.farmWorkRecordPics=='' || item.farmWorkRecordPics==undefined || item.farmWorkRecordPics.length==0">无</span>
                                                <span v-else>
                                                    <img :src="item.farmWorkRecordPics[0].url"/>
                                                </span>

                                        </ul>
                                        <div v-if="!hasOrder"
                                             style="width:100%;padding-top:10px;text-align:center;color:#999;">暂无数据
                                        </div>
                                    </div>
                                </div>
                                <img class="award-res" src="./imgs/anim.png" alt="">
                            </div>
                            <!-- 公司信息 -->
                            <div class="company-bottom">
                                <div>
                                    Copyright All Rights Reserved
                                    <a href="https://scbysk.com/home" target="_blank">四川本源数科科技有限公司</a>
                                </div>
                                <div>蜀ICP备20024953号-1</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 fill-h">
                    <div class="xpanel-wrapper xpanel-wrapper-1">
                        <div class="xpanel">
                            <!-- 右一-->
                            <div class="fill-h">
                                <div
                                    style="height:33.3%;background-image:url('./imgs/land/bg_turangjiance.png');background-size: 100% 100%;">
                                    <div class="title-bg right-title">土壤检测</div>
                                    <div class="height-title barChar-wrap">
                                        <div v-if="soilData==null" class="noDataImg">
                                            暂无检测数据
                                        </div>
                                        <div class="barChar-box" v-else>
                                            <div class="barChar-instruct">
                                                <span>检测量（mg/kg）</span>
                                                <span class="violet">检测值</span>
                                                <span class="green">国家标准max</span>
                                            </div>
                                            <div class="barChar" ref="soilDetection"></div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="height:33.3%;background-image:url('./imgs/land/bg_turangjiance.png');background-size: 100% 100%;">
                                    <div class="title-bg right-title">大气检测</div>
                                    <div class="height-title">
                                        <div v-if="gasData==null" class="noDataImg">
                                            暂无检测数据
                                        </div>
                                        <div class="barChar-box" v-else>
                                            <div class="barChar-instruct">
                                                <span>检测量（mg/kg）</span>
                                                <span class="violet">检测值</span>
                                                <span class="green">国家标准max</span>
                                            </div>
                                            <div class="barChar" ref="gasDetection"></div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="height:33.3%;background-image:url('./imgs/land/bg_turangjiance.png');background-size: 100% 100%;">
                                    <div class="title-bg right-title">水源检测</div>
                                    <div class="height-title">
                                        <div v-if="waterData==null" class="noDataImg">
                                            暂无检测数据
                                        </div>
                                        <div class="barChar-box" v-else>
                                            <div class="barChar-instruct">
                                                <span>检测量（mg/kg）</span>
                                                <span class="violet">检测值</span>
                                                <span class="green">国家标准max</span>
                                            </div>
                                            <div class="barChar" ref="waterDetection"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="js/echarts-3.8.5.min.js"></script>
    <script src="js/scroll.js"></script>
    <script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.15&key=b37218900009b3618f05afc6210f4dca"></script>
    <script src="https://open.ys7.com/sdk/js/1.4/ezuikit.js"></script>


    <script type="text/javascript">
        new Vue({
            el: '#container-y',
            data() {
                return {
                    orgid: 189,
                    baseId: '',
                    //baseUrl: 'http://snj.scbysk.com/byapi',
                    // baseUrl: 'http://192.168.2.79:9998',
                    baseUrl: 'http://ja.scbysk.com/byapi',
                    baseInfo: {},
                    muNumberData: [],
                    tonNumberData: [],
                    moneyNumberData: [],
                    expertData: [],//专家团队
                    map: null,
                    coords: [],
                    workOrder: [],
                    hasStaff: false,
                    hasOrder: false,
                    barSoil: {
                        xData: ['镍', '锌', '铜', '总铬', '铅', '镉', '总砷', '总汞', '六六', 'DDT'],
                        yData: { min: 0, interval: 50, max: 300, },
                        valData: {
                            detection: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
                            standard: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
                        }
                    },
                    barGas: {
                        xData: ['总悬浮颗粒物', '二氧化塘', '二氧化硫'],
                        yData: { min: 0, interval: 0.03, max: 0.18, },
                        valData: {
                            detection: [0.02, 0.05, 0.04],
                            standard: [0.03, 0.13, 0.06]
                        }
                    },
                    barWater: {
                        xData: ['总大\n肠菌群', '蛔虫\n卵数', '铅', '镉', '砷', '汞', '铬\n(六价)', '硫化\n物', '氯化\n物', '化学\n需氧量'],

                        yData: { min: 0, interval: 2, max: 12 },
                        valData: {
                            detection: [0.7, 1, 0.8, 0.5, 0.75, 1, 1.2, 0.6, 6, 5],
                            standard: [1, 1, 1, 0.8, 1, 1.2, 1, 1, 8, 4]
                        }
                    },

                    saveListMarker: [],
                    polygons: [],
                    infoWindow: null,
                    plotdata:null,
                    polygon:[],

                    value:[],
                    monitorVideo: '',
                    oneId:'',
                    options:[],

                    soilData:[],
                    gasData:[],
                    waterData:[],
                }
            },
            created() {
                let Hheight=$('.header').height()+9
                $('.wrapper').css('top',Hheight)
                this.baseId = this.GetQueryValue('baseId')

                this.baseDetailInfo()
                this.getworkOrder()

                this.getBaseWithMonitorVideos();
            },
            mounted() {
                //土壤检测饼图
                this.getStrip(1)
                // this.initBar('soilDetection',this.barSoil);
                //大气检测饼图
                this.getStrip(2)
                // this.initBar('gasDetection',this.barGas);
                //水源检测饼图
                this.getStrip(3)
                // this.initBar('waterDetection',this.barWater)

                this.totalTj();

                $('.wrapper').css("visibility","visible");

            },
            methods: {
                insertStr(soure, start, newStr){
                    return soure.slice(0, start) + newStr + soure.slice(start);
                },

                getStrip(type){
                    //1土壤检测，2大气检测，3水源检测
                    $.get(this.baseUrl + '/api/billboardBaseInfos/environmentDetection', { baseId:this.baseId,detectionType:type }, function (result) {

                        if(result.data!=null){
                            let data=result.data.detectionData;

                            let barData={
                                xData:[],
                                valData:{detection:[],standard:[]}
                            }


                            data.map(item=>{
                                let standardValues=parseInt(item.standardValues)
                                if(standardValues=='' || parseFloat(standardValues).toString() == "NaN"){
                                    standardValues=0
                                }
                                let detectItemName=item.detectItemName;
                                barData.xData.push(detectItemName);
                                barData.valData.detection.push(item.detectValue);
                                barData.valData.standard.push(standardValues)
                            })



                            // this.initBar('soilDetection',barData);
                            switch(type) {
                                case 1:
                                    this.soilData=result.data;
                                    this.initBar('soilDetection',barData);
                                    break;
                                case 2:
                                    this.gasData=result.data;
                                    this.initBar('gasDetection',barData);
                                    break;
                                case 3:
                                    this.waterData=result.data;
                                    this.initBar('waterDetection',barData)
                                    break;
                                default:
                                    return;
                            }


                        }else{
                            switch(type) {
                                case 1:
                                    this.soilData=result.data;

                                    break;
                                case 2:
                                    this.gasData=result.data;
                                    break;
                                case 3:
                                    this.waterData=result.data;
                                    break;
                                default:
                                    return;
                            }
                        }



                    }.bind(this));

                },
                getBaseWithMonitorVideos(){//监控
                    $.get(this.baseUrl + '/api/billboardIndexs/getBaseWithMonitorVideos', { orgId: this.orgid }, function (result) {
                        result.data.map(item=>{
                            if(item.id==this.baseId){
                                let obj={
                                    value: item.id,
                                    label: item.name,
                                    children:[]
                                }
                                item.monitorVideoChannelVOS.map(childerItem=>{
                                    obj.children.push({
                                        label:childerItem.channelName,
                                        value:childerItem.channelNo+'-'+childerItem.monitorVideoCode,
                                    })
                                })
                                this.options.push(obj);
                            }
                        })
                        let arr=result.data.filter(item=>{
                            return item.id==this.baseId
                        })

                        this.value.push(arr[0].id,arr[0].monitorVideoChannelVOS[0].channelNo+'-'+arr[0].monitorVideoChannelVOS[0].monitorVideoCode)

                        this.getAddress(arr[0].monitorVideoChannelVOS[0].channelNo,arr[0].monitorVideoChannelVOS[0].monitorVideoCode)

                    }.bind(this));
                },
                getAddress(channelNo,monitorVideoCode){

                    console.log(channelNo)
                    console.log(monitorVideoCode)

                    let data={
                        channelNo:channelNo,
                        deviceSerial:monitorVideoCode,
                        orgId:this.orgid
                    }
                    $.get(this.baseUrl + 'api/billboardIndexs/getLiveAddresByDevice',data,function(result){
                        this.monitorVideo=result.data[0].hls;
                        this.$nextTick(() => {
                            this.player = new EZUIPlayer("myVideo");
                        });

                    }.bind(this));

                    // getLiveAddresByDevice(data).then(res=>{
                    //     this.monitorVideo=res.data[0].hls;
                    //     this.$nextTick(() => {
                    //         this.player = new EZUIPlayer("myVideo");
                    //     });
                    // })
                },
                getMonitorVideosByBaseId(channelNo,monitorVideoCode,i,name){

                    let data={
                        channelNo:channelNo,
                        deviceSerial:monitorVideoCode,
                        orgId:this.orgid
                    }
                    $.get(this.baseUrl + '/api/billboardIndexs/getLiveAddresByDevice', data , function (result) {

                        if(result.data[0].hls==null){
                            return;
                        }
                        let obj = {
                            // label: result.data[0].deviceName,
                            label:name,
                            value: result.data[0].hls,
                        };
                        this.options[i].children.push(obj);

                        if(i==0){
                            this.$nextTick(()=>{
                                this.value=[this.options[0].value,this.options[0].children[0].value];
                                this.oneId=this.value[0];



                                this.selectAddress(this.value);

                            })

                        }
                    }.bind(this));
                },
                handleChange(value){
                    let channelNo=value[1].split('-')[0];
                    let monitorVideoCode=value[1].split('-')[1];
                    this.getAddress(channelNo,monitorVideoCode)
                },
                initBar(ref, barData) {

                    let xData=[];
                    barData.xData.map(item=>{
                        if(item.length>3){
                            xData.push(item.slice(0, 3) + '...');
                        }else{
                            xData.push(item);
                        }
                    })
                    const that = this;
                    let myCharts = echarts.init(that.$refs[ref]);
                    let option = {
                        color: ['#89A0FD', '#17C6BD'],
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            },
                            formatter:function(params){
                                for(var i in params){
                                    for(var k in xData){
                                        if(xData[k]==params[i].name){
                                            return barData.xData[k]+"<br/><span class='spotCategory temperature'></span>检测值:"+barData.valData.detection[k]+"<br><span class='spotCategory humidity'></span>国家标准:"+barData.valData.standard[k]
                                        }
                                    }
                                }
                            },
                        },

                        xAxis: [
                            {
                                type: 'category',
                                data: xData,
                                axisPointer: {
                                    type: 'shadow',
                                },
                                axisLabel: {
                                    interval: 0,
                                    textStyle: {
                                        color: "#fff"
                                    },
                                    rotate:40
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: 'rgba(0,0,0,0)',
                                        width: 2
                                    }
                                }
                            },

                        ],
                        yAxis: [
                            {
                                axisLabel: {
                                    formatter: '{value}',
                                    textStyle: {
                                        color: "#fff"
                                    }
                                },
                                axisLine: {//线条
                                    lineStyle: {
                                        color: 'rgba(0,0,0,0)',
                                        width: 2
                                    }
                                },
                                splitLine: {
                                    show: true,
                                    lineStyle: {
                                        color: 'rgba(0,0,0,0)'
                                    }
                                }
                            }

                        ],
                        series: [
                            {
                                name: '检测值',
                                type: 'bar',
                                data: barData.valData.detection,
                                itemStyle: {
                                    normal: {
                                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                            offset: 0,
                                            color: '#89A0FD'
                                        }, {
                                            offset: 1,
                                            color: '#011F27'
                                        }])
                                    }
                                },
                            },
                            {
                                name: '国家标准',
                                type: 'bar',
                                data: barData.valData.standard,
                                itemStyle: {
                                    normal: {
                                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                            offset: 0,
                                            color: '#17C6BD'
                                        }, {
                                            offset: 1,
                                            color: '#011F27'
                                        }])
                                    }
                                }
                            },
                        ]
                    }
                    myCharts.setOption(option);
                },

                baseDetailInfo() {//地图数据
                    $.get(this.baseUrl + '/api/largescreenindex/baseInfo/' + this.baseId + '/' + this.orgid, function (res) {
                        this.baseInfo = res.data;
                        let map_addr = JSON.parse(res.data.map_addr).path;
                        let add = [];
                        map_addr.map(item => {
                            add = [item.lng, item.lat]
                            this.coords.push(add)
                        })




                        let totalAcreagenumber=res.data.acreage;
                        let totalAcreage=Math.round(totalAcreagenumber*100)/100;

                        let totalYieldNumber=totalAcreagenumber*1.5
                        totalYieldNumber=Math.round(totalYieldNumber*100)/100;

                        let totalProduction=totalAcreagenumber*1.2
                        totalProduction=Math.round(totalProduction*100)/100;




                        this.getNumber(totalAcreage.toString(), 1);
                        this.getNumber(totalYieldNumber.toString(), 2);
                        this.getNumber(totalProduction.toString(), 3);

                        if (this.baseInfo.staff.length > 0) {
                            this.hasStaff = true
                            $('#scroll').myScroll({
                                speed: 30, //数值越大，速度越慢
                                rowHeight: 30 //li的高度
                            });
                        }
                    }.bind(this));
                },
                getworkOrder() {//工单
                    $.get(this.baseUrl + '/api/largescreenindex/getworkOrder/', { baseId: this.baseId }, function (res) {
                        this.workOrder = res.data;
                        if (this.workOrder.length > 0) {
                            this.hasOrder = true;


                            $('#scroll2').myScroll({
                                speed: 30, //数值越大，速度越慢
                                rowHeight: 40 //li的高度
                            });
                        }else{
                            this.hasOrder = false
                        }

                    }.bind(this));
                },
                _drawPolygonal(dataLeft, dataRight) {
                    let _this = this;
                    let polygonalChart = echarts.init(this.$refs.polygonal, null, { devicePixelRatio: 2.5 });
                    var colors = ["#0089FF", "#B865DF"];
                    // 指定图表的配置项和数据
                    var option = {
                        color: colors,
                        tooltip: {
                            trigger: "axis",
                            axisPointer: {
                                type: "cross",
                                crossStyle: {
                                    color: "#fff"
                                }
                            }
                        },
                        legend: {
                            show: false,
                            data: ["贷款金额", "贷款人数"],
                            y: 10,
                            textStyle: {
                                color: "#fff"
                            }
                        },
                        xAxis: [
                            {
                                type: "category",
                                data: ["订单贷", "劳务贷", "农资贷", '保险贷'],
                                boundaryGap: false

                            }
                        ],
                        yAxis: [
                            {
                                type: "value",
                                name: "温度：℃",
                                position: "left",
                                splitLine: { show: false },
                                axisLine: {
                                    show: true,

                                    lineStyle: {
                                        color: "#fff"
                                    }
                                },
                                axisLabel: {
                                    show: true,
                                    showMinLabel: true,
                                    showMaxLabel: true,
                                    formatter: "{value}"
                                }
                            },
                            {
                                type: "value",
                                name: "湿度：%",
                                position: "right",

                                splitLine: { show: false },
                                axisLine: {
                                    show: true,
                                    lineStyle: {
                                        color: "#fff"
                                    }
                                },
                                axisLabel: {
                                    show: true,
                                    showMinLabel: true,
                                    showMaxLabel: true,
                                    formatter: "{value}"
                                }
                            }
                        ],
                        series: [
                            {
                                name: "贷款金额",
                                type: "line",
                                barWidth: 20,
                                data: dataLeft,
                                yAxisIndex: 0,
                                areaStyle: {
                                    normal: {
                                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                            { offset: 0.5, color: '#41A4FF' },
                                            { offset: 1, color: '#eeeeee' }
                                        ])
                                    }
                                } // 阴影渲染颜色渐变样式
                            },
                            {
                                name: "贷款人数",
                                type: "line",
                                barWidth: 20,
                                data: dataRight,
                                yAxisIndex: 1,
                                areaStyle: { // 阴影渲染颜色渐变样式
                                    normal: {
                                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                            { offset: 0.5, color: '#41A4FF' },
                                            { offset: 1, color: '#eeeeee' }
                                        ])
                                    }
                                }
                            }
                        ]
                    };
                    polygonalChart.setOption(option);
                },
                getNumber(number, index) {
                    switch (index) {
                        case 1:
                            this.muNumberData = this.backNumber(number);
                            break;
                        case 2:
                            this.tonNumberData = this.backNumber(number);
                            break;
                        case 3:
                            this.moneyNumberData = this.backNumber(number);
                            break;
                        default:
                            return;
                    }
                },
                backNumber(str) {
                    const arr = str.split('');
                    let imgs = [];
                    arr.map(item => {
                        if (item == '.') {
                            item = 'a'
                        }
                        imgs.push(item)
                    })
                    return imgs
                },

                totalTj() {
                    $.get(this.baseUrl + '/api/billboardBaseInfos/totalTj/', { baseId: this.baseId }, function (res) {
                        let that = this;
                        this.plotdata=res.data.landParcels
                        let mapArrOne=[]
                        that.plotdata.map(item=>{
                            let mapArr=[];
                            let mapAddr=JSON.parse(item.mapAddr).path;
                            mapAddr.map(mapItem=>{
                                let arr=[mapItem.lng,mapItem.lat];
                                that.coords.push(arr)
                                mapArr.push(arr)
                            })
                            mapArrOne.push([{info:item,path:mapArr}])
                        })
                        that.polygon=mapArrOne;

                        that.initMap();


                    }.bind(this));

                },
                addBlockOnMap(remarks) {
                    this.saveListMarker = []
                    this.polygons = [];
                    if(remarks==null){
                        return;
                    }
                    for (let i = 0; i < remarks.length; i++) {
                        let remark = remarks[i].mapAddr;
                        if (remark != undefined && remark != null && remark.trim() != "") {
                            let remarkJson2 = eval("(" + remark + ")");
                            let newPath = [];
                            for (let i = 0; i < remarkJson2.path.length; i++) {
                                let point = remarkJson2.path[i];
                                newPath.push(new AMap.LngLat(point.lng, point.lat));
                            }
                            remarkJson2.path = newPath;
                            let polygon2 = new AMap.Polygon(remarkJson2);
                            this.polygons.push(polygon2);
                            this.map.add(polygon2);
                            this.map.setFitView(this.polygons);
                        }
                    }
                    let that = this
                    for (let i = 0; i < that.polygons.length; i++) {
                        that.polygons[i].on("click", function (e) {
                            that.infowindow(e, i);
                        });
                    }
                },
                getinfo(i) {
                    this.info = [];
                    this.info.push('<div style="width:175px;"><table>');
                    this.info.push(
                        '<tr style="color:#fff;line-height:20px;"><td style="width:80px;">所属农户：</td><td>' +
                        this.plotdata[i].userName +
                        "</td></tr>"
                    );
                    this.info.push(
                        '<tr style="color:#fff;line-height:20px;"><td style="width:80px;">地块名称：</td><td>' +
                        this.plotdata[i].name +
                        "</td></tr>"
                    );
                    this.info.push(
                        '<tr style="color:#fff;line-height:20px;"><td style="width:80px;">地块面积：</td><td>' +
                        this.plotdata[i].acreage +
                        "亩</td></tr>"
                    );
                    this.info.push("</table></div>");
                },
                infowindow(e, i) {
                    this.info = [];
                    this.getinfo(i);
                    this.infoWindow = new AMap.InfoWindow({
                        content: this.info.join("")
                    });
                    this.infoWindow.open(this.map, [e.lnglat.lng, e.lnglat.lat]);
                },
                initMap() {
                    let that = this;
                    let googleLayer = new AMap.TileLayer({
                        getTileUrl:
                            "http://mt{1,2,3,0}.google.cn/vt/lyrs=s&hl=zh-CN&gl=cn&x=[x]&y=[y]&z=[z]&s=Galile"
                    }); //定义谷歌卫星切片图层

                    let roadNetLayer = new AMap.TileLayer.RoadNet({
                        opacity: 0
                    }); //定义一个路网图层
                    that.map = new AMap.Map(that.$refs.map, {
                        center: that.coords[0],
                        zooms: [9, 20],
                        layers: [googleLayer, roadNetLayer]
                    });
                    AMap.plugin("AMap.DistrictSearch", function () {
                        var district = new AMap.DistrictSearch({
                            extensions: "all",
                            subdistrict: 0
                        });
                        district.search("江安县", function (status, result) {
                            // 外多边形坐标数组和内多边形坐标数组
                            var bounds = result.districtList[0].boundaries;
                            var outer = [
                                new AMap.LngLat(-360, 90, true),
                                new AMap.LngLat(-360, -90, true),
                                new AMap.LngLat(360, -90, true),
                                new AMap.LngLat(360, 90, true)
                            ];


                            var pathArray = [outer];
                            pathArray.push.apply(pathArray, bounds);
                            var polygon = new AMap.Polygon({
                                path: pathArray,
                                strokeColor: "#0AFBE2",
                                strokeWeight: 1,
                                fillColor: "#26374C",
                                fillOpacity: 0.5
                            });
                            polygon.setPath(pathArray);
                            that.map.add(polygon);

                            that.polygon.map((item,i)=>{
                                let info=item[0].info;
                                var polygon=null
                                polygon = new AMap.Polygon({
                                    map: that.map,
                                    path:item[0].path,
                                    strokeColor: "#00AE66",
                                    strokeOpacity: 1,
                                    strokeWeight: 2,
                                    fillColor: "#00AE66",
                                    fillOpacity: 0.35
                                });
                                that.map.add(polygon);

                            })

                            that.addBlockOnMap(that.plotdata);

                        });
                        that.map.on("complete", function () {

                            var myEvent = new CustomEvent("done1", {});
                            if (window.dispatchEvent) {
                                window.dispatchEvent(myEvent);
                            } else {
                                window.fireEvent(myEvent);
                            }
                        });
                    });
                },
                GetQueryValue(queryName) {
                    var query = decodeURI(window.location.search.substring(1));
                    var vars = query.split("&");
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split("=");
                        if (pair[0] == queryName) { return pair[1]; }
                    }
                    return null;
                }

            }
        })
        function toHome() {
            window.history.back();
        }
    </script>
</body>

</html>
